@import "@styles/keyframes.css";

.main {
  background: linear-gradient(var(--primary) 20%, var(--gradient));
}

.logo_box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.logo_wrapper {
  width: 650px;
  height: 350px;
  overflow: hidden;
}

.logo_image {
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}

.title {
  color: var(--light);
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 5px;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  padding: 20px 0;
}

.description {
  color: var(--light);
}

.lighthouse_image {
  width: 600px;
  position: fixed;
  left: -100px;
  bottom: -200px;
  opacity: 0.8;
  z-index: 2;
}

.lighthouse_image circle:first-of-type {
  will-change: opacity;
  transition: opacity linear 0.2s;
  -webkit-animation: 1s linear alternate infinite onoff;
  animation: 1s linear alternate infinite onoff;
}

.lighthouse_image circle:last-of-type {
  will-change: opacity;
  transition: opacity linear 0.2s;
  -webkit-animation: 5s 2s linear alternate infinite onoff;
  animation: 5s 2s linear alternate infinite onoff;
}

@media only screen and (max-width: 768px), only screen and (max-height: 768px) {
  .logo_wrapper {
    width: 350px;
    height: 200px;
  }

  .title {
    font-size: 4rem;
  }

  .lighthouse_image {
    width: 400px;
    left: calc(50vw - 30vw - 200px);
    bottom: -265px;
  }
}
