main.Home {
  display: flex;
}
.Home .top-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px dashed var(--border);
  padding: 1%;
}
/* .Home .left-sidebar .rnd-subject {
  width: 80%;
  margin: 20px 0;
  flex: 1;
  background-color: 
} */

.Home .center-box {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center; */
}
.Home .center-box .speak-box {
  font-size: 15pt;
  width: 350px;
  padding: 30px 20px;
  border: 1px solid var(--border);
  border-radius: 10px;
  user-select: none;
  position: relative;
}
.Home .center-box .speak-box .speak {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-line;
  animation: 0.5s step-end infinite alternate blink;
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* .Home .center-box .speak-box:after {
  position: absolute;
  left: calc(50% - 15px);
  bottom: -16px;
  content: "";
  width: 30px;
  height: 30px;
  background-color: var(--background);
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  transform: rotateZ(135deg);
} */

.Home section[class*="chart"] {
  position: relative;
  margin: auto;
  width: 100%;
}
.Home .chart-wrong {
  height: 100%;
}
.Home .chart-wrong {
  width: 100% !important;
  height: 600px !important;
}
.Home .chart-round {
  height: 40%;
}
@media only screen and (max-width: 1080px) {
  .Home section[class*="chart"] {
    width: 100%;
  }
}
