.Home {
  display: flex;
  flex-direction: column;
}
.Home .no-stat-img {
  opacity: 0.8;
  width: 100%;
  height: 20vw;
}
.Home .no-stat-msg {
  text-align: center;
}
.Home > .dashboard {
  user-select: none;
  -webkit-user-select: none;
  margin-bottom: 1em;
}
.Home > .content {
  padding: 4%;
  border: 1px solid var(--subborder);
  border-radius: 10px;
}
.Home .top-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2% 0;
}
.Home .center-box {
  width: 100%;
  display: flex;
  align-items: baseline;
  gap: 5%;
  flex-wrap: wrap-reverse;
}
.Home .speak-box {
  font-size: 2em;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  user-select: none;
}
.Home .speak-box .speak {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-line;
  animation: 0.5s step-end infinite alternate blink;
  border-right: 1px solid var(--accent);
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.Home .title {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  user-select: none;
  padding: 0.5em;
  white-space: nowrap;
}
.Home .title:after {
  content: "";
  flex: 1;
  border: 1px solid var(--secondary);
}
.Home .title svg {
  font-size: 1.5em;
  color: var(--secondary);
}
.Home div[class*="chart"] {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Home .chart-wrong {
  height: 35vw;
  flex-basis: 50%;
}
.Home .chart-wrong canvas {
  transform: translateY(-12%);
  align-self: center;
}
.Home .study {
  flex: 1;
}
.Home .study .title {
  align-self: flex-start;
}
.Home .study .thumb {
  max-width: 80%;
  max-height: calc(16vw + 1vh);
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home .study img {
  width: 100%;
  height: 100%;
}
.Home .study .no-thumb-img {
  max-width: 80%;
  max-height: calc(16vw + 1vh);
  opacity: 0.8;
}
.Home .study .content {
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1em;
}
.Home .study .content .subject {
  font-size: 1.2em;
  word-break: keep-all;
}
.Home .study .content .keycount {
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-size: 0.9em;
  color: var(--subtext);
}
.Home .study a {
  margin-left: auto;
  border: 1px solid var(--border);
  padding: 0.5em;
  border-radius: 5px;
}
.Home .chart-wrong,
.Home .study,
.Home .chart-round {
  padding: 5vh 0;
}
.Home .todo {
  padding-bottom: 5vh;
}
.Home .todo .todo-msg {
  text-align: center;
}
.Home .todo .todo-item {
  padding: 0.3em 5vw;
  display: grid;
  grid-template-columns: 6fr 2fr 1.5fr 1fr;
  gap: 0.5em;
}
.Home .todo .todo-item > * {
  word-break: keep-all;
  display: flex;
  align-items: center;
}
.Home .todo .todo-item .deadline.active {
  color: var(--red);
}
.Home .todo .todo-item > *:not(:first-child) {
  font-size: 0.8em;
  color: var(--subtext);
  justify-content: center;
}
.Home .chart-round {
  height: 30vw;
  transform: translateY(-8%);
}
@media only screen and (max-width: 1080px) {
  .Home .no-stat-img {
    width: 100%;
    height: 30vw;
  }
  .Home .study .thumb {
    max-height: 40vw;
  }
  .Home .chart-wrong,
  .Home .study {
    flex: 1;
    flex-basis: 100%;
  }
  .Home .study {
    padding-bottom: 6vh;
  }
  .Home .chart-wrong {
    height: 80vw;
  }
  .Home .chart-round {
    height: 60vw;
  }
}
