.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login .cover-img {
  width: 35vh;
  height: 35vh;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 5vh;
  transform-origin: center;
  animation: 1s cubic-bezier(0.195, 0.325, 0.6, 1.55) upscale;
}

@keyframes upscale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.Login .title {
  color: white;
  font-size: 40pt;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin-bottom: 10vh;
  white-space: nowrap;
  user-select: none;
}

.Login .title .char {
  display: inline-block;
  animation: cubic-bezier(0.195, 0.325, 0.6, 1.55) bounce;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.Login form.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.Login input {
  width: 100%;
  margin: 5px;
  border: 0;
  border-bottom: 1px dashed white;
  border-radius: 0;
  font-size: 12pt;
  color: white;
  caret-color: var(--yellow);
  transition: all 0.3s ease-out;
  background-repeat: no-repeat;
  background-position: left 10px bottom 50%;
  background-size: 16px;
  padding: 10px 40px;
}

.Login form.login input[type="text"] {
  background-image: url("../assets/images/user.png");
}

.Login form.login input[type="password"] {
  background-image: url("../assets/images/pwd.png");
}

.Login form.login input::placeholder {
  color: #ccc;
}

.Login form.login input:focus {
  border-bottom: 1px dashed var(--yellow);
}

.Login .wrap-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3vh;
}
.Login .wrap-links > * {
  display: inline-block;
  color: white;
  font-size: 12pt;
  white-space: nowrap;
  transition: all 0.3s ease-out;
}
.Login .wrap-links button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2em;
}
.Login .wrap-links a:hover,
.Login .wrap-links button:hover {
  color: var(--yellow);
}
