nav {
  z-index: 50;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(var(--blue), rgba(29, 65, 91, 0.7));
  padding: 15px 0;
}

@media only screen and (max-width: 720px) {
  main.Index {
    flex-direction: column-reverse;
    position: relative;
  }
  nav {
    width: 100%;
    height: 80px;
    flex-direction: row;
    background: none;
    background-color: var(--blue);
  }
  nav a {
    height: 80px !important;
  }
  nav a.active {
    border-radius: 0 0 5px 5px !important;
  }
  nav a.setting,
  nav a.logout {
    display: none !important;
  }
  nav a.logout {
    margin-top: 0 !important;
  }
  .App main {
    flex-direction: column-reverse;
  }
  .App main.Index {
    margin: 1em;
  }
  .App main article {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .App main aside {
    height: 100%;
    position: absolute;
    top: 0;
    right: -200px;
  }
  .App .side-btn {
    display: block;
  }
  .App .Sidebar .menu {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
  }
  .Sidebar.active {
    right: 0;
  }
  .App .blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
  }
  .App .blocker.active {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .App .side-btn {
    font-size: 1.5em;
    position: absolute;
    top: 1em;
    right: 1em;
  }
}
nav a {
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  color: var(--light) !important;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--blue), 0, 5px solid var(--blue), 5px solid var(--blue);
}
nav a.active {
  color: var(--yellow) !important;
  background-color: var(--light);
  border-radius: 5px 0 0 5px;
}

nav a svg {
  display: block;
  width: 100%;
  height: 33px;
  font-size: 20pt;
  margin-bottom: 10px;
  transform-origin: center;
  overflow: hidden;
}

nav a.home:hover svg {
  animation: 1s infinite shake;
  -webkit-animation: 1s infinite shake;
}

nav a.logout {
  margin-top: auto;
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(10deg);
  }
  75% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

nav a.quiz {
  position: relative;
}
nav a.quiz:hover svg {
  animation: 1s ease-out infinite jump;
  -webkit-animation: 1s ease-out infinite jump;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

nav a.quiz:hover:after {
  animation: 1s ease-out infinite marks;
  -webkit-animation: 1s ease-out infinite marks;
}
@keyframes marks {
  0% {
    content: "?";
    transform: translateY(0);
  }
  60% {
    content: "!";
    transform: translateY(-3px);
  }
  100% {
    content: "?";
    transform: translateY(0);
  }
}
nav a.quiz.active:after {
  color: white;
}
nav a.note:hover svg path:first-child {
  animation: 1s steps(2) infinite bookmark;
  -webkit-animation: 1s steps(2) infinite bookmark;
}
@keyframes bookmark {
  100% {
    fill: transparent;
  }
}
nav a.todo div {
  height: 33px;
  margin-bottom: 10px;
  overflow-y: hidden;
}
nav a.todo:hover div {
  animation: 1.5s steps(2) infinite listing;
  -webkit-animation: 1.5s steps(2) infinite listing;
}
@keyframes listing {
  50% {
    height: 11px;
    margin-bottom: 32px;
  }
  100% {
    height: 28px;
    margin-bottom: 15px;
  }
}
nav a.setting:hover svg {
  animation: 1s steps(5) infinite spin;
  -webkit-animation: 1s steps(5) infinite spin;
}
@keyframes spin {
  100% {
    transform: rotateZ(180deg);
  }
}
