/* .Home .right-sidebar .music-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: var(--blue);
    border-radius: 50%;
    font-size: 20pt;
  } */

.Sidebar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Sidebar .score svg {
  display: block;
  margin-bottom: 0.2em;
  font-size: 2.5em;
}
