.Sidebar * {
  user-select: none;
  -webkit-user-select: none;
}
.Sidebar section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  width: 100%;
  border: 1px solid var(--darkgray);
  border-radius: 10px;
  padding: 10px;
}
.Sidebar .play-btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2vw;
}
.Sidebar .play-btn-box > button {
  font-size: 1.2em;
}
.Sidebar section.player {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Sidebar .play-icon-wrap {
  position: relative;
  width: calc(200px - (2em + 20px));
  height: calc(200px - (2em + 20px));
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Sidebar .play-icon-wrap:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  border-radius: 100%;
}
.Sidebar .play-icon {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center;
  background: radial-gradient(
      rgb(20, 20, 20) 7%,
      black 8% 9%,
      rgba(0, 0, 0, 0.7) 10% 17%,
      rgba(0, 0, 0, 0.5) 18% 20%,
      rgba(255, 255, 255, 0.3) 21% 23%,
      rgba(0, 0, 0, 0) 24% 67%,
      rgba(255, 255, 255, 0.3) 68%
    ),
    conic-gradient(rgb(250, 180, 250), rgb(180, 180, 250), rgb(250, 180, 250));
  margin: 0 auto;
}
@keyframes play {
  100% {
    transform: rotate(360deg);
  }
}
.player-btn {
  font-size: 1.8em;
}
.Sidebar .profile-img {
  width: calc(200px - (2em + 20px));
  height: calc(200px - (2em + 20px));
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Sidebar .profile-img img {
  height: 100%;
  display: inline-block;
}
.Sidebar .score {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
.Sidebar .score svg {
  font-size: 1.2em;
  color: var(--blue);
}
.Sidebar .clock {
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
.Sidebar .clock > * {
  font-size: 0.8em;
  white-space: nowrap;
}
