.Todo .input {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.Todo .input input {
  padding: 8px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--border);
}

.Todo .input input:focus {
  border-color: var(--accent);
}

.Todo .input .t_content {
  flex-grow: 3;
  flex-basis: 20vw;
}

.Todo .input .t_deadline {
  position: relative;
  flex-basis: 250px;
  display: flex;
  align-items: center;
}

.Todo .input .t_deadline:invalid {
  border-color: var(--red);
}

.Todo .input .t_deadline::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 8px;
}

.Todo .input .t_deadline.clear:valid:not(:focus)::-webkit-datetime-edit-text,
.Todo
  .input
  .t_deadline.clear:valid:not(:focus)::-webkit-datetime-edit-month-field,
.Todo
  .input
  .t_deadline.clear:valid:not(:focus)::-webkit-datetime-edit-day-field,
.Todo
  .input
  .t_deadline.clear:valid:not(:focus)::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  opacity: 0;
}

.Todo .input .t_deadline.clear:valid:not(:focus):before {
  content: attr(placeholder);
}

.Todo .input .t_deadline.clear:valid:focus:before {
  display: none;
}

.Todo .input input::placeholder,
.Todo .input .t_deadline:before {
  color: var(--subtext);
}

.Todo .input .submit {
  flex-grow: 0;
  flex-basis: 100px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: var(--accent);
  color: var(--text);
  font-weight: 700;
}

.Todo .input button:disabled {
  background-color: var(--subborder);
}

.Todo .prior-wrap {
  position: relative;
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  flex-basis: 100px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.Todo .prior-option {
  position: absolute;
  z-index: 1;
  top: 50px;
  flex-direction: column;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 10px;
  width: 100%;
}

.Todo .prior-option button {
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.Todo .prior-option button span {
  display: inline-block;
  width: 16px;
  text-align: center;
}

.Todo .prior-wrap .prior-value {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .Todo .input .t_content {
    flex-basis: 100%;
  }

  .Todo .input .t_deadline {
    flex: 1;
  }
}

@media (max-width: 280px) {
  .Todo .input .t_deadline {
    flex-basis: 100%;
  }

  .Todo .input .submit {
    flex-grow: 1;
  }
}

@media (hover: hover) and (pointer: fine) {
  .Todo .prior-wrap:hover {
    color: var(--accent);
    border-color: var(--accent);
  }
}
