@import "./input.css";
@import "./item.css";

.Todo {
  overflow-y: hidden;
}

.Todo .progress-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  padding-bottom: 30px;
}

.Todo .progress-ratio {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.Todo .progress-ratio svg {
  font-size: 1.8rem;
}

.Todo .progress-bar {
  height: 10px;
  border-radius: 50px;
  background: linear-gradient(90deg, var(--primary), 90%, var(--accent));
}

.Todo .list {
  margin-top: 32px;
  overflow: hidden auto;
  height: 100%;
}
