.Quiz .cat-box,
.Quiz .subject-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 20%;
  margin: 0 auto;
  /* border-bottom: 1px solid var(--darkgray); */
}
.Quiz .cat-box .cat-item {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px dashed var(--darkgray);
  white-space: nowrap;
  cursor: pointer;
  transition: all ease 0.2s;
}
.Quiz .cat-box .cat-item:last-child {
  border-bottom: none;
}
.Quiz .cat-box .cat-item:hover {
  color: var(--yellow);
}
.Quiz .cat-box .cat-item span:not(:first-child) {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.Quiz .subject-box .card {
  width: 60%;
  padding: 1.5em;
  border-radius: 5px;
  background-color: #faf9f7;
  text-align: center;
  font-size: 16pt;
  font-weight: 700;
}
.Quiz .keyword-box {
  width: 100%;
  height: 80%;
  margin-top: 20pt;
}
.Quiz .keyword-desc {
  white-space: pre-wrap;
  word-break: keep-all;
  padding: 2em;
  border: 1px solid var(--darkgray);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 60%;
  min-height: 20vh;
}
.Quiz .keycount {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 15pt;
  font-weight: 700;
  background-color: #faf9f7;
}
.Quiz .answer-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Quiz .answer-box .msg-box {
  font-size: 15pt;
  width: 350px;
  padding: 30px 20px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 10px;
  user-select: none;
  position: relative;
}
.Quiz .answer-box .msg-box:after {
  position: absolute;
  left: calc(50% - 15px);
  bottom: -16px;
  content: "";
  width: 30px;
  height: 30px;
  background-color: white;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  transform: rotateZ(135deg);
}
.Quiz .answer-box .msg {
  border: none;
  font-size: 12pt;
  width: 100%;
}
.Quiz .answer-box .bird-img {
  width: 100%;
  height: 100%;
  background-color: #aaa;
}
.Quiz {
  position: relative;
}

.Quiz .loading {
  z-index: -100;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity ease 0.3s;
}

.Quiz .loading svg {
  /* cf) 여러 애니메이션을 지정할 경우 순차적으로 실행되며 동시에 실행되지 않는다. */
  animation: infinite ease-out 1.6s hourglassRotateZ,
    infinite steps(1) 0.4s hourglassRotateX;
  font-size: 12em;
  color: #60798c;
}

@keyframes hourglassRotateZ {
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes hourglassRotateX {
  100% {
    transform: scaleY(-1);
  }
}
.Quiz .loading span {
  margin-top: 2em;
  user-select: none;
  -webkit-user-select: none;
}
.Quiz .feedback-msg {
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-size: 1.5em;
  font-weight: 700;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  transition: opacity ease 0.3s;
}
.Quiz .feedback-msg svg {
  color: var(--blue);
}
@keyframes bounceMsg {
  50% {
    transform: translateY(-5px);
  }
}
@keyframes shakeMsg {
  20% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}
.Quiz .result .score,
.Quiz .result .feedback {
  text-align: center;
  margin-bottom: 0.5em;
}
.Quiz .result .score {
  font-size: 2.5em;
  font-weight: 900;
  margin-top: 5vh;
}
.Quiz .result .date,
.Quiz .result .time {
  text-align: right;
  font-size: 0.8em;
}
.Quiz .result .wrong-list {
  margin-top: 5vh;
}
.Quiz .wrong-list .title {
  font-weight: 700;
  margin-bottom: 1em;
}
.Quiz .wrong-list .wrong-subject {
  padding: 1em;
}
.Quiz .result a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  width: 100px;
  border: 1px solid var(--darkgray);
  padding: 0.2em;
  border-radius: 10px;
}
.Quiz .wrong-list .wrong-keyword {
  padding: 1em;
  margin: 0 1em;
  border-bottom: 1px dashed var(--darkgray);
}
.Quiz .wrong-list .wrong-keyword:last-child {
  border-bottom: 0;
}
.Quiz .wrong-list .wrong-keyword .desc {
  white-space: pre-wrap;
  word-break: keep-all;
}
