.Quiz .Cat,
.Quiz .Sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Quiz .Cat .title {
  font-weight: 700;
  padding: 1em;
}
.Quiz .Cat .cat-list,
.Quiz .Sub .subject-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 20%;
}
.Quiz .cat-list .cat-item {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px dashed var(--border);
  white-space: nowrap;
  cursor: pointer;
  transition: all ease 0.2s;
}
.Quiz .cat-list .cat-item:last-child {
  border-bottom: none;
}
.Quiz .cat-list .cat-item:hover {
  color: var(--accent);
}
.Quiz .cat-list .cat-item span:not(:first-child) {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.Quiz .Sub .subject-box .subject {
  width: 60%;
  padding: 1em;
  text-align: center;
  font-size: 16pt;
  font-weight: 700;
  word-break: keep-all;
}
.Quiz .Sub .keyword-box {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}
.Quiz .Sub .keyword-desc {
  white-space: pre-wrap;
  padding: 1em;
  border-top: 5px solid var(--primary);
  margin: 0 auto;
  min-width: 100%;
  min-height: 25vh;
  word-break: keep-all;
}
.Quiz .Sub button {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.5em;
  font-size: 0.8em;
}
.Quiz .Sub .keycount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3em;
}
.Quiz .Sub .answer-box {
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Quiz .Sub .answer-box .msg-box {
  font-size: 15pt;
  width: 350px;
  padding: 30px 20px;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 10px;
  user-select: none;
  position: relative;
}
.Quiz .Sub .answer-box .msg-box:after {
  position: absolute;
  left: calc(50% - 15px);
  bottom: -16px;
  content: "";
  width: 30px;
  height: 30px;
  background-color: var(--background);
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  transform: rotateZ(135deg);
}
.Quiz .Sub .answer-box .msg {
  border: none;
  font-size: 12pt;
  width: 100%;
}
.Quiz {
  /* .loading 의 position 맞춤 */
  position: relative;
}

.Quiz .Sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 1%;
}
.Quiz .Sub .subject-box {
  flex: 0.8;
}
.Quiz .Sub .feedback-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
  gap: 0.3em;
  font-size: 1.5em;
  font-weight: 700;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  transition: opacity ease 0.3s;
}
.Quiz .Sub .feedback-msg svg {
  color: var(--primary);
  font-weight: 900;
}
@keyframes jumpMsg {
  50% {
    transform: translateY(-5px);
  }
}
@keyframes shakeMsg {
  20% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}
.Quiz .Sub .total-score {
  position: absolute;
  right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: 1.2em;
}
.Quiz .Sub .total-score div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  transition: all ease-in-out 1s;
  transform-origin: center;
  animation-name: spinScore;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
@keyframes spinScore {
  50% {
    color: var(--accent);
  }
  100% {
    transform: rotate(360deg);
    color: inherit;
  }
}
.Quiz .result .score,
.Quiz .result .feedback {
  text-align: center;
  margin-bottom: 0.5em;
}
.Quiz .result .score {
  font-size: 2.5em;
  font-weight: 900;
  margin-top: 5vh;
}
.Quiz .result .date,
.Quiz .result .time {
  text-align: right;
  font-size: 0.8em;
}
.Quiz .result a {
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding: 0.2em;
}
.Quiz .result .restart {
  margin: 0 auto;
  justify-content: center;
  width: 100px;
  border: 1px solid var(--border);
  border-radius: 10px;
}
.Quiz .result .wrong-list {
  margin-top: 5vh;
}
.Quiz .result .wrong-list .title {
  font-weight: 700;
  padding-bottom: 2em;
}
.Quiz .result .wrong-list .subject > a {
  font-size: 1.2em;
  padding: 0.8em 0;
  font-weight: 700;
  gap: 0.4em;
  border-bottom: 2px solid var(--border);
  margin-bottom: 2em;
}
.Quiz .result .wrong-list .subject > div {
  padding: 0.2em 0 0.2em 2em;
}
.Quiz .wrong-list .wrong-keyword {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  justify-content: space-between;
  padding: 1em;
  margin: 2em 1em;
  border: 1px solid var(--subborder);
  border-radius: 5px;
}
.Quiz .wrong-list .wrong-keyword .keyword {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.Quiz .wrong-list .wrong-keyword .keyword svg {
  color: var(--subtext);
}
.Quiz .wrong-list .wrong-keyword .desc {
  width: 100%;
  white-space: pre-wrap;
  word-break: keep-all;
  margin-bottom: 1em;
}
.Quiz .loading {
  z-index: -100;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity ease 0.3s;
}
.Quiz .loading svg {
  /* cf) 여러 애니메이션을 지정할 경우 순차적으로 실행되며 동시에 실행되지 않는다. */
  animation: infinite ease-out 1.6s hourglassRotateZ,
    infinite steps(1) 0.4s hourglassRotateX;
  font-size: 12em;
  color: var(--secondary);
}
@keyframes hourglassRotateZ {
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes hourglassRotateX {
  100% {
    transform: scaleY(-1);
  }
}
.Quiz .loading span {
  margin-top: 2em;
  user-select: none;
  -webkit-user-select: none;
}
