.Dashboard .article {
  padding: 5vh 0;
  flex: 1;
}

.Dashboard .article a {
  margin-left: auto;
  border: 1px solid var(--border);
  padding: 8px;
  border-radius: 5px;
}

.Dashboard .article img {
  width: 100%;
  height: 100%;
}

.Dashboard .article .title {
  align-self: flex-start;
}

.Dashboard .article .thumb {
  max-width: 80%;
  max-height: calc(16vw + 1vh);
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dashboard .article .no-thumb-img {
  max-width: 80%;
  max-height: calc(16vw + 1vh);
  opacity: 0.8;
}

.Dashboard .article .content {
  padding: 32px 16px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.Dashboard .article .content .subject {
  font-size: 2rem;
  word-break: keep-all;
}

.Dashboard .article .content .keycount {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.6rem;
  color: var(--subtext);
}

@media only screen and (max-width: 1023px) {
  .Dashboard .article {
    flex: 1;
    flex-basis: 100%;
    padding-bottom: 6vh;
  }

  .Dashboard .article .thumb {
    max-height: 40vw;
  }
}
