.Dashboard .article {
  display: flex;
  flex-direction: column;
}

.Dashboard .article .thumb {
  max-width: 80%;
  max-height: calc(16vw + 1vh);
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dashboard .article img {
  width: 100%;
  height: 100%;
}

.Dashboard .article .no-thumb-img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.Dashboard .article .content {
  margin-top: auto;
  padding: 20px 16px 0px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.Dashboard .article .content .subject {
  font-size: 2rem;
  word-break: keep-all;
}

.Dashboard .article .content .keycount {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.6rem;
  color: var(--subtext);
}

.Dashboard .article .content a {
  margin-left: auto;
  border: 1px solid var(--border);
  padding: 8px;
  border-radius: 5px;
}

@media only screen and (max-width: 1023px) {
  .Dashboard .article {
    flex: 1;
    flex-basis: 100%;
    padding-bottom: 6vh;
  }

  .Dashboard .article .thumb {
    max-height: 40vw;
  }
}
