.Dashboard {
  display: flex;
  flex-direction: column;
}

.Dashboard > .dashboard {
  user-select: none;
  -webkit-user-select: none;
  margin-bottom: 16px;
}

.Dashboard > .content {
  padding: 4%;
  border: 1px solid var(--subborder);
  border-radius: 10px;
}

.Dashboard .headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}

.Dashboard .headline .text-box {
  font-size: 4rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  user-select: none;
}

.Dashboard .headline .text-box .text {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-line;
  animation: 0.5s step-end infinite alternate blink;
  border-right: 1px solid var(--accent);
}

.Dashboard .headline .user-info,
.Dashboard .headline .user-info .score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dashboard .headline .user-info .score {
  margin-bottom: 10px;
}

.Dashboard .headline .user-info .score svg {
  color: var(--accent);
}

.Dashboard .headline .user-info .today span {
  color: var(--accent);
}

.Dashboard .headline .user-info .subject:before {
  content: "-";
  display: block;
  text-align: center;
}

.Dashboard .details {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content max-content;
  column-gap: 10px;
  row-gap: 50px;
}

.Dashboard .details .todos,
.Dashboard .details .article,
.Dashboard .details .chart-wrongs,
.Dashboard .details .chart-scores {
  width: 100%;
}

.Dashboard .details .todos,
.Dashboard .details .article {
  min-height: 400px;
}

.Dashboard .details .chart-wrongs,
.Dashboard .details .chart-scores {
  grid-column: 1 / 3;
}

.Dashboard .title {
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
  padding: 10px;
  white-space: nowrap;
}

.Dashboard .title:after {
  content: "";
  flex: 1;
  border: 1px solid var(--secondary);
}

.Dashboard .title svg {
  font-size: 2.5rem;
  color: var(--secondary);
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media only screen and (max-width: 1023px) {
  .Dashboard .details {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content max-content;
    column-gap: 0;
  }

  .Dashboard .details .todos,
  .Dashboard .details .article {
    grid-column: 1 / 3;
    min-height: 0;
  }
}
