.Dashboard .todos {
  padding-bottom: 5vh;
}

.Dashboard .todos .todos-msg {
  text-align: center;
}

.Dashboard .todos .todos-item {
  padding: 4px 5vw;
  display: grid;
  grid-template-columns: 6fr 2fr 1.5fr 1fr;
  gap: 8px;
}

.Dashboard .todos .todo-item > * {
  word-break: keep-all;
  display: flex;
  align-items: center;
}

.Dashboard .todos .todos-item .deadline.active {
  color: var(--red);
}

.Dashboard .todos .todos-item > *:not(:first-child) {
  font-size: 1.2rem;
  color: var(--subtext);
  justify-content: center;
}
