.Detail.title {
  width: 60%;
  height: 15%;
  margin: 0 auto;
  position: relative;
}
.Detail.title .box {
  display: flex;
}
.Detail.title .box:nth-child(1) {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.Detail.title .box:nth-child(2) {
  width: 15%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
}
.Detail.title .subject {
  font-family: var(--emp-font);
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 30pt;
  font-weight: 700;
}
.Detail.title .category {
  font-family: var(--emp-font);
  font-size: 15pt;
  text-align: center;
}
.Detail.title .length {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-color: #181818;
  border-radius: 50%;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Detail.title .btnBox {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}
.Detail.slide {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 3% 0 2%;
  justify-content: space-between;
}
.Detail.slide button {
  width: 80px;
  height: 80px;
  font-size: 25pt;
  border: none;
  background-color: transparent;
}
.Detail.slide .keywordList {
  width: 100%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
}
.Detail.slide .keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 4);
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  word-break: keep-all;
}
.Detail.memo {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}
