.value_text,
.result_text {
  text-align: center;
  word-break: keep-all;
}

.value_text {
  text-align: center;
  padding: 16px;
  font-size: 3rem;
}

.value_text span {
  color: var(--accent);
}

.list {
  margin-top: 60px;
}

.item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  margin: 16px 0;
  border: 1px solid var(--subborder);
  border-radius: 5px;
}

.subject {
  flex: 1;
  display: inline-block;
  white-space: pre-line;
  word-break: keep-all;
}

.category {
  margin-left: auto;
  text-align: right;
  word-break: keep-all;
  font-size: 1.4rem;
}

.keyword_box {
  width: 100%;
}

.keyword {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 48px;
}
.keyword:first-child {
  margin-top: 16px;
}
