.Search .search-value,
.Search .search-result {
  text-align: center;
}

.Search .search-value {
  text-align: center;
  padding: 16px;
  font-size: 3rem;
}

.Search .search-value span {
  color: var(--accent);
}

.Search .search-data {
  margin: 60px 16px 16px;
}

.Search .search-data .subject-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid var(--subborder);
  border-radius: 5px;
}

.Search .search-data .subject-box .subject {
  flex: 1;
}

.Search .search-data .subject-box .category {
  margin-left: auto;
}

.Search .search-data .subject-box .keyword-box {
  width: 100%;
}

.Search .search-data .subject-box .keyword-box .keyword {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 48px;
}

.Search .search-data .subject-box .keyword-box .keyword:first-child {
  padding-top: 16px;
}
