.Quiz {
  /* .loading 의 position 맞춤 */
  position: relative;
}

.Quiz .Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 1%;
}

.Quiz .Game .subject-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  word-break: keep-all;
}

.Quiz .Game .subject-box > .category {
  font-weight: 700;
  font-size: 2rem;
}

.Quiz .Game .subject-box .subject {
  width: 100%;
  padding: 4% 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  word-break: keep-all;
}

.Quiz .Game .keyword-box {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.Quiz .Game .keyword-desc {
  white-space: pre-wrap;
  padding: 16px;
  border-top: 5px solid var(--primary);
  margin: 0 auto;
  width: 100%;
  line-height: 22px;
  min-height: 100px;
  overflow-y: auto;
  word-break: break-word;
}

.Quiz .Game button {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 8px;
  font-size: 1.4rem;
}

.Quiz .Game .keycount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.Quiz .Game .answer-box {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.Quiz .Game .answer-box .msg-box {
  display: flex;
  column-gap: 10px;
  width: 100%;
  padding: 30px 20px;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 10px;
  user-select: none;
  position: relative;
  caret-color: var(--accent);
}

.Quiz .Game .answer-box .msg-box:after {
  position: absolute;
  left: calc(50% - 15px);
  top: -16px;
  content: "";
  width: 30px;
  height: 30px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  transform: rotateZ(135deg);
}

.Quiz .Game .answer-box .msg {
  border: none;
  width: 100%;
}

.Quiz .Game .feedback-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
  margin: 10px auto;
  gap: 10px;
  font-size: 2rem;
  font-weight: 700;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  transition: opacity ease 0.3s;
}

.Quiz .Game .feedback-msg svg {
  color: var(--secondary);
  font-size: 4rem;
  font-weight: 900;
}

.Quiz .Game .total-score {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 1.6rem;
}

.Quiz .Game .total-score div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  transition: all ease-in-out 1s;
  transform-origin: center;
  animation-name: spinScore;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.Quiz .Game .timer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: var(--subborder);
}

.Quiz .Game .timer-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  animation-name: countdown, changeColor;
  animation-timing-function: linear, steps(1, end);
  animation-fill-mode: forwards, forwards;
  transition: background-color 0.3s ease-in-out;
}

.Quiz .loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity ease 0.3s;
}

.Quiz .loading svg {
  animation: infinite ease-out 1.6s hourglassRotateZ,
    infinite steps(1) 0.4s hourglassRotateX;
  font-size: 20rem;
  color: var(--secondary);
}

.Quiz .loading span {
  margin-top: 30px;
  user-select: none;
  -webkit-user-select: none;
}

@media only screen and (max-width: 1023px) {
  .Quiz .Game .timer-container {
    position: fixed;
  }
  .Quiz .Game .answer-box {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .Quiz .Game .subject-box .subject {
    padding: 2% 0;
    font-size: 2rem;
  }

  .Quiz .Game .keyword-box,
  .Quiz .Game .answer-box {
    width: 100%;
  }

  .Quiz .Game .answer-box .msg-box {
    padding: 10px;
  }

  .Quiz .Game .answer-box .msg-box:after {
    left: calc(50% - 5px);
    top: -6px;
    width: 10px;
    height: 10px;
  }
}

@keyframes jumpMsg {
  50% {
    transform: translateY(-5px);
  }
}

@keyframes shakeMsg {
  20% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}

@keyframes spinScore {
  50% {
    color: var(--accent);
  }
  100% {
    transform: rotate(360deg);
    color: inherit;
  }
}

@keyframes countdown {
  100% {
    width: 0;
  }
}

@keyframes changeColor {
  80% {
    background-color: var(--red);
  }
}

@keyframes hourglassRotateZ {
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes hourglassRotateX {
  100% {
    transform: scaleY(-1);
  }
}
