.Quiz .Index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Quiz .Index .head {
  width: 100%;
  border-bottom: 2px solid var(--primary);
  margin: 32px 0 16px;
  padding: 10px;
  display: grid;
  grid-template-columns: 5fr 2fr 1fr 1fr;
  gap: 10px;
  text-align: center;
  user-select: none;
}

.Quiz .Index .title {
  font-size: 2rem;
  font-weight: 700;
  padding: 20px;
  letter-spacing: 2px;
  user-select: none;
}

.Quiz .cat-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Quiz .cat-list .cat-item {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr 1fr 1fr;
  gap: 8px;
  padding: 20px;
  border-bottom: 1px solid var(--subborder);
  white-space: nowrap;
  cursor: pointer;
  transition: all ease 0.2s;
}

.Quiz .cat-list .cat-item > *:not(:first-of-type) {
  display: flex;
  justify-content: center;
}

.Quiz .cat-list .cat-item:last-child {
  border-bottom: none;
}

.Quiz .cat-list .cat-item:hover {
  color: var(--accent);
}

.Quiz .cat-list .cat-item span:not(:first-child) {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
}
