.Quiz .Result .score,
.Quiz .Result .duration,
.Quiz .Result .feedback {
  text-align: center;
  margin-bottom: 8px;
}

.Quiz .Result .score {
  font-size: 5rem;
  font-weight: 900;
  margin-top: 5vh;
}

.Quiz .Result .date,
.Quiz .Result .time {
  text-align: right;
  font-size: 1.4rem;
}

.Quiz .Result a {
  display: flex;
  align-items: center;
  padding: 10px;
}

.Quiz .Result .btn-box {
  display: flex;
  width: 60%;
  margin: 20px auto;
  flex-wrap: wrap;
}

.Quiz .Result .save,
.Quiz .Result .restart {
  margin: 0 auto;
  justify-content: center;
  width: 120px;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.Quiz .Result .save-msg {
  width: 100%;
  padding-bottom: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Quiz .Result .wrong-list {
  margin-top: 5vh;
}

.Quiz .Result .wrong-list .title {
  font-weight: 700;
  padding-bottom: 20px;
}
.Quiz .Result .wrong-list .title:before {
  content: "・ ";
  color: var(--accent);
}

.Quiz .Result .wrong-list .subject > a {
  font-size: 2rem;
  padding: 12px 0;
  font-weight: 700;
  gap: 8px;
  margin-bottom: 16px;
}

.Quiz .Result .wrong-list .subject > a:after {
  content: "";
  width: 100%;
  border-bottom: 2px solid var(--border);
  pointer-events: none;
}

.Quiz .Result .wrong-list .subject > div {
  padding: 4px 0 4px 32px;
}

.Quiz .Result .wrong-list .wrong-keyword {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-between;
  padding: 16px;
  margin: 32px;
  border: 1px solid var(--subborder);
  border-radius: 5px;
}

.Quiz .Result .wrong-list .wrong-keyword .keyword {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.Quiz .Result .wrong-list .wrong-keyword .keyword svg {
  color: var(--subtext);
}

.Quiz .Result .wrong-list .wrong-keyword .desc {
  width: 100%;
  white-space: pre-wrap;
  word-break: keep-all;
  margin-bottom: 16px;
}
