section.scores-delete-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scores-delete-container .menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--subborder);
  border-radius: 5px;
}

.scores-delete-container .menu > * {
  display: inline-block;
}

.scores-delete-container .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  user-select: none;
  word-break: keep-all;
}

.scores-delete-container .filter-wrapper {
  margin-left: auto;
  flex-grow: 1;
}

.scores-delete-container .filter-select {
  display: inline-block;
  width: 100%;
  text-align: right;
  word-break: keep-all;
  white-space: normal;
}

.scores-delete-container .filter-wrapper .filter-option-wrapper {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 100%;
  background-color: var(--background);
  padding: 10px;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}

.scores-delete-container .filter-wrapper.active .filter-option-wrapper {
  transform: scaleY(1);
  box-shadow: 0px 0px 5px 2px var(--darkalpha);
}

.scores-delete-container .filter-option-wrapper > * {
  display: inline-block;
  word-break: keep-all;
  white-space: normal;
  text-align: right;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid var(--subborder);
  opacity: 0;
  user-select: none;
}

.scores-delete-container .filter-wrapper.active .filter-option-wrapper > * {
  opacity: 1;
  user-select: auto;
}

.scores-delete-container .filter-option-wrapper > *:last-child {
  border-bottom: none;
}

.scores-delete-container .delete-wrapper {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid var(--subborder);
  padding: 10px;
}

.scores-delete-container .delete-wrapper .select-all {
  margin-right: auto;
  flex-shrink: 0;
}

.scores-delete-container .score-list {
  flex: 1;
  list-style: none;
  overflow-y: auto;
  margin: 10px;
}

.scores-delete-container .score-list .item {
  display: flex;
  gap: 5px 10px;
  padding: 5px;
  margin: 10px 0;
}

.scores-delete-container .item > * {
  flex-shrink: 0;
  font-size: 1.4rem;
}

.scores-delete-container .item .item-category {
  flex-grow: 1;
  flex-basis: 30%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.scores-delete-container .clear-filter-btn {
  margin-top: 20px;
  padding: 5px;
}

.scores-delete-container .select-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scores-delete-container .delete-btn {
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: 8px;
}

@media only screen and (max-width: 1023px) {
  .scores-delete-container .score-list .item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid var(--subborder);
    border-radius: 5px;
  }

  .scores-delete-container .item .item-checkbox {
    grid-row: 1 / -1;
  }
}
