.Settings {
  row-gap: 20px;
}

.Settings .setting-box {
  width: 100%;
  padding: 32px min(6vw, 32px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--subborder);
  border-radius: 10px;
}

.Settings .setting-box.password-change,
.Settings .setting-box.account-delete {
  flex-direction: column;
  gap: 8px;
}

.Settings .setting-box .title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 8px;
  font-size: 1.8rem;
  font-weight: 700;
  white-space: nowrap;
  user-select: none;
  margin-bottom: 16px;
}

.Settings .setting-box.account-delete .title {
  color: var(--red);
}

.Settings .push-notification > .push-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

.Settings .push-notification > .push-container > * {
  display: flex;
  align-items: center;
}

.Settings .push-notification .user-agent {
  flex-wrap: wrap;
  column-gap: 0.8rem;
  justify-content: end;
  text-align: right;
}

.Settings .push-notification .state {
  gap: 4px;
}

.Settings .push-notification label > span {
  display: inline-block;
  text-align: right;
  word-break: keep-all;
}

.Settings .push-notification .button-wrapper {
  gap: 16px;
}

.Settings .password-change > form,
.Settings .account-delete > form {
  flex: 1;
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.Settings .password-change > form {
  flex-direction: column;
  align-items: end;
}

.Settings .account-delete > form {
  justify-content: flex-end;
}

.Settings form label {
  gap: 8px;
}

.Settings form label span {
  display: inline-block;
  width: 120px;
  margin-right: auto;
}

.Settings form input {
  width: 100%;
}

.Settings .setting-box button {
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 8px;
}

.Settings .setting-box > button {
  margin-left: auto;
}

.Settings .setting-box #push {
  display: none;
}

.Settings label[for="push"] {
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  transition: all ease 0.2s;
}
