@import "@components/todo/todoPrior.module.css";

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.form input {
  padding: 8px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--border);
}
.form input:focus {
  border-color: var(--accent);
}

.content {
  flex-grow: 3;
  flex-basis: 20vw;
}

.deadline {
  position: relative;
  flex-basis: 250px;
  display: flex;
  align-items: center;
}
.deadline:invalid {
  border-color: var(--red);
}
.deadline::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 8px;
}

.deadline.clear:valid:not(:focus)::-webkit-datetime-edit-text,
.deadline.clear:valid:not(:focus)::-webkit-datetime-edit-month-field,
.deadline.clear:valid:not(:focus)::-webkit-datetime-edit-day-field,
.deadline.clear:valid:not(:focus)::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  opacity: 0;
}
.deadline.clear:valid:not(:focus):before {
  content: attr(placeholder);
  text-wrap: nowrap;
}
.deadline.clear:valid:focus:before {
  display: none;
}

.content::placeholder,
.deadline:before {
  color: var(--subtext);
}

.submit {
  flex-grow: 0;
  flex-basis: 100px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: var(--accent);
  color: var(--dark);
  font-weight: 700;
}
.submit:disabled,
.submit:disabled:focus {
  background-color: var(--subborder);
  color: var(--dark) !important;
}

.prior_wrapper {
  position: relative;
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
  cursor: pointer;
  transition: border-color ease-in-out 0.2s;
}
.prior_wrapper.opened {
  border-color: var(--accent);
}
.prior_wrapper.opened .prior_option {
  display: flex;
  flex-direction: column;
}

.prior_option {
  position: absolute;
  z-index: 1;
  top: 50px;
  display: none;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 10px;
  width: 100%;
}

.prior {
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.prior span {
  display: inline-block;
  width: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .content {
    flex-basis: 100%;
  }

  .deadline {
    flex: 1;
  }
}

@media (max-width: 280px) {
  .deadline {
    flex-basis: 100%;
  }

  .submit {
    flex-grow: 1;
  }
}

@media (hover: hover) and (pointer: fine) {
  .submit:hover {
    color: var(--dark);
  }
  .submit:disabled:hover {
    background-color: var(--subborder);
    color: var(--dark);
  }
}
