.Set {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Set .setting-box * {
  user-select: none;
  white-space: nowrap;
}
.Set .setting-box {
  width: 100%;
  padding: 2em 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--darkgray);
}
.Set .setting-box:nth-child(1) {
  flex-direction: column;
  gap: 0.5em;
}
.Set .setting-box .title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 0.5em;
  font-size: 1.2em;
  font-weight: 700;
  white-space: nowrap;
}
.Set .setting-box:nth-last-child(1) .title,
.Set .setting-box:nth-last-child(2) .title {
  color: var(--red);
}
.Set .data-box,
.Set .account-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2vw;
}
.Set .setting-box:last-child {
  border-bottom: 0;
}
.Set .upload-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Set .upload-img-wrap {
  width: 20vw;
  height: 20vw;
  margin: 2em auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Set .upload {
  height: 100%;
  display: inline-block;
}
.Set #img-input {
  pointer-events: none;
}
.Set label[for="img-input"] {
  display: inline-block;
  user-select: none;
  border-radius: 5px;
  border: 1px solid var(--darkgray);
  padding: 0.5em;
  transition: all ease 0.2s;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.Set label[for="img-input"]:hover {
  border-color: var(--yellow);
  color: var(--yellow);
}

.Set input[type="file"] {
  min-height: 1.2em;
  font-size: 1em;
  border: none;
  flex: 1;
  text-overflow: ellipsis;
}

.Set input[type="file"]::file-selector-button {
  display: none;
}
.Set #str-input {
  margin: 1em 0;
  width: 100%;
}

.Set #profile-update-btn {
  align-self: flex-end;
}
.Set .setting-box #push,
.Set .setting-box #light,
.Set .setting-box #dark {
  display: none;
}
.Set label[for="push"],
.Set label[for="light"],
.Set label[for="dark"] {
  cursor: pointer;
  font-weight: 400;
  transition: all ease 0.2s;
}
.Set label[for="push"]:hover,
.Set label[for="light"]:hover,
.Set label[for="dark"]:hover {
  color: var(--yellow);
}
.Set .setting-box .theme-box {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 5vw;
}
