main.Write form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
main.Write {
  user-select: none;
}
main.Write label {
  width: 100px;
  font-size: 15pt;
  font-weight: 700;
  user-select: none;
  margin: 30px 10px 10px 10px;
}
main.Write #add-btn {
  display: inline-block;
  width: 100px;
}
main.Write input,
textarea {
  font-size: 12pt;
  padding: 0.5em;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
}
main.Write input.keyword,
main.Write textarea {
  border: 1px solid #aaa;
  border-radius: 5px;
}
main.Write input.keyword {
  padding: 1.5em 0.5em;
}
main.Write .keyword-controller {
  margin: 30px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
}
main.Write .keyword-controller label {
  margin: 0;
}
main.Write .keyword-controller #add-keyword {
  background-color: var(--blue);
  border-radius: 5px;
  width: 100px;
  padding: 0.5em 1em;
  color: white;
  transition: all ease 0.3s;
  white-space: nowrap;
}
main.Write #keyword-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20%);
  gap: 0.5em;
  justify-content: center;
  margin: 10px 0;
}
main.Write input[type="file"] {
  margin-top: 30px;
}
main.Write button#submit {
  background-color: var(--blue);
  border-radius: 5px;
  width: 80px;
  padding: 0.5em 1em;
  margin-top: 20px;
  margin-left: auto;
  color: white;
  transition: all ease 0.3s;
}
main.Write button#submit:hover {
  color: var(--yellow);
}
