.Detail.title {
  width: 60%;
  height: 15%;
  margin: 0 auto;
  position: relative;
}
.Detail.title .box {
  display: flex;
}
.Detail.title .box:nth-child(1) {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Detail.title .box:nth-child(2) {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
}
.Detail.title .subject {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 30pt;
  font-weight: 700;
}
.Detail.title .category {
  display: inline-block;
  font-size: 15pt;
  text-align: center;
}
.Detail.title .category:hover {
  color: var(--red);
}
.Detail.title .length {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Detail.title .btnBox {
  width: calc(100% - 150px);
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}
.Detail.title .btnBox button {
  background-color: var(--blue);
  border-radius: 5px;
  width: 80px;
  padding: 0.5em 1em;
  margin: 5px;
  color: white;
  transition: all ease 0.3s;
}
.Detail.title .btnBox button:hover {
  color: var(--yellow);
}
.Detail.slide {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 3% 0 2%;
  justify-content: space-between;
}
.Detail.slide button {
  width: 80px;
  height: 80px;
  font-size: 25pt;
  border: none;
  background-color: transparent;
}
.Detail.slide .keywordList {
  width: 100%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
}
.Detail.slide .keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 4);
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  word-break: keep-all;
}
.Detail.content {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}
