main.Write form {
  width: 80%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
}

main.Write label:not([for="attach"]) {
  display: inline-block;
  width: 100px;
  font-size: 15pt;
  font-weight: 700;
  user-select: none;
  margin: 50px 10px 10px 10px;
}

main.Write label[for="category"] {
  margin-top: 0;
}

main.Write #add-btn {
  display: inline-block;
  width: 100px;
}

main.Write input,
textarea {
  font-size: 12pt;
  padding: 0.5em;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
}

main.Write .keyword-item {
  display: flex;
  align-items: center;
  height: 20vh;
}

.head-keyword {
  display: flex;
  padding: 10px;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.head-keyword .keyword-index {
  font-size: 1.5em;
  color: var(--blue);
  user-select: none;
}

.head-keyword #keyword-delete {
  font-size: 1.6em;
  color: #aaa;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.head-keyword #keyword-delete:hover {
  color: var(--red);
}

.wrap-keyword {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: auto;
}

.wrap-keyword .keyword,
.wrap-keyword .desc {
  width: 100%;
}

.wrap-keyword .keyword {
  background-image: url("../../images/keyword.png");
  border-bottom: 1px dashed #aaa;
  background-repeat: no-repeat;
  background-position: left 10px bottom 50%;
  background-size: 16px;
  padding: 10px 40px;
}

.wrap-keyword .desc {
  height: 10vh;
  border: none;
}

main.Write .keyword-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.Write .keyword-controller #add-keyword {
  margin-left: auto;
  margin-right: 10px;
}

main.Write #keyword-box {
  width: 100%;
  margin: 10px 0;
}

main.Write input[type="file"] {
  margin-top: 30px;
  border: none;
}

main.Write input[type="file"]::file-selector-button {
  display: none;
}

main.Write label[for="attach"] {
  margin-top: 200px;
}

main.Write label[for="attach"]:before {
  content: "\f1c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  margin-right: 10px;
}

main.Write .keyword-controller #add-keyword,
main.Write label[for="attach"] {
  border-radius: 5px;
  border: 1px solid #aaa;
  width: 80px;
  padding: 0.5em 1em;
  transition: all ease 0.3s;
  white-space: nowrap;
  cursor: pointer;
  font-size: 12pt;
  text-align: center;
}

main.Write .keyword-controller #add-keyword {
  width: 120px;
}

main.Write .keyword-controller #add-keyword:hover,
main.Write label[for="attach"]:hover {
  border-color: var(--yellow);
  color: var(--yellow);
}

main.Write #content {
  width: 100%;
  height: 20vh;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: auto;
}

main.Write a#back,
main.Write button#submit {
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
  width: 80px;
  padding: 0.5em 1em;
  transition: all ease 0.3s;
  white-space: nowrap;
  cursor: pointer;
  font-size: 12pt;
  text-align: center;
}

main.Write a#back:hover,
main.Write button#submit:hover {
  background-color: var(--yellow);
}

main.Write .btn-box {
  width: 100%;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
}
