#page > .nav-signin {
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  padding: 80px 0 15px;
}

/* anchor style */
a.link {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  border: none;
  color: var(--light);
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: flex-start;
}

a.link.active {
  color: var(--accent);
  background-color: var(--background);
}

a.link svg {
  display: block;
  height: 42px;
  font-size: 2rem;
  transform-origin: center;
  overflow: hidden;
}

/* seperate anchor style */
.link.todo div {
  height: 33px;
  margin-bottom: 10px;
  overflow-y: hidden;
}

.link.quiz {
  position: relative;
}

#page > .nav-signin .link.signout {
  margin-top: auto;
  margin-bottom: 20px;
  color: var(--light);
}

@media only screen and (max-width: 1023px) {
  #page > .nav-signin {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .link.dashboard:hover svg {
    -webkit-animation: 1s infinite shake;
    animation: 1s infinite shake;
  }

  .link.todo:hover div {
    -webkit-animation: 1.5s steps(2) infinite listing;
    animation: 1.5s steps(2) infinite listing;
  }

  .link.note:hover svg path:first-child {
    -webkit-animation: 1s steps(2) infinite bookmark;
    animation: 1s steps(2) infinite bookmark;
  }

  .link.quiz:hover svg {
    -webkit-animation: 1s ease-out infinite jump;
    animation: 1s ease-out infinite jump;
  }

  .link.settings:hover svg {
    -webkit-animation: 1s steps(5) infinite spin;
    animation: 1s steps(5) infinite spin;
  }
}
