.nav-signout {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}

.nav-signout > * {
  display: inline-block;
  color: var(--light);
}

.nav-signout a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.nav-signout a:hover {
  color: var(--accent);
}

.nav-signout a.active {
  color: var(--accent);
}
