.switch,
.slider {
  transition: left ease-in 0.2s;
}

.switch {
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: center;
  position: relative;
  border: 1px solid var(--lightalpha);
  border-radius: 30px;
  cursor: pointer;
}

.slider,
.dark,
.light {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.slider {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--accent);
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

#darkmode:checked ~ .slider {
  left: calc(100% - 20px - 5px);
}

@media only screen and (max-width: 1023px) {
  section.theme {
    order: 6;
  }

  .switch:before,
  .switch:after {
    font-size: 1.2rem;
    cursor: auto;
    -webkit-user-select: none;
    user-select: none;
  }

  .switch:before {
    content: "light";
    position: absolute;
    left: -50px;
  }

  .switch:after {
    content: "dark";
    position: absolute;
    right: -50px;
  }

  :root[color-theme="light"] .switch {
    border-color: var(--darkalpha) !important;
  }
}
