.Todo .input {
  display: flex;
}
.Todo .input input {
  flex: 3;
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ddd;
}
.Todo .input button {
  flex: 1;
  padding: 12px 16px;
  margin: 5px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: #ddd;
  color: #181818;
  font-weight: 700;
  cursor: pointer;
}

.Todo .input button:disabled {
  color: #888;
  cursor: not-allowed;
  background-color: #ddd;
}

.Todo .input button:hover {
  background-color: #ddd;
  color: black;
}

.Todo .item {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 0 5px;
}
/* 
cf) 
다른 요소 hover 시 동작을 설정하려면
해당 요소 선택자는 부모 요소를 포함시키지 말 것
*/
.Todo .item:hover .delete,
.Todo .item:hover .complete {
  opacity: 1;
}
.Todo .item .delete:hover,
.Todo .item .complete:hover {
  cursor: pointer;
  background-color: #eee;
  border-radius: 50%;
}
.Todo .item div {
  padding: 8px;
  margin: 5px;
}
.Todo .delete,
.Todo .complete {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: #888;
  vertical-align: center;
  opacity: 0;
  transition: opacity ease 0.5s;
  user-select: none;
}
.Todo .item .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #888;
  font-size: 0.8em;
  text-align: center;
}
.Todo .item .content {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 15pt;
  text-align: left;
  cursor: pointer;
  transform: 0.8s;
}
.Todo .item .content.line {
  text-decoration: line-through;
  color: #999;
}
.Todo .item .content:hover {
  background-color: #eee;
  border-radius: 5px;
}
.Todo .item .date div {
  margin: 0;
  padding: 0;
}
.Todo .deadline {
  color: #888;
  font-size: 0.8em;
}
.Todo .deadline.active {
  color: var(--red);
  font-weight: bold;
}
