/*
cf) 
자식 요소만 스크롤
부모요소는 display:flex, overflow-y:hidden
자식요소는 overflow-y:auto
(input 박스를 absolute 하지 않고 고정되었음)
*/
.Todo {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.Todo .input {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.Todo .input input {
  padding: 8px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--border);
}
.Todo .input input:focus {
  border-color: var(--accent);
}
.Todo .input .t_content {
  flex: 3 0 20vw;
}
.Todo .input .t_deadline {
  flex-basis: 250px;
}
/* 
cf) 
input type="date" 에 placeholder 만들기
html dataset 속성과, css before 가상선택자를 사용
1. before 의 content 는 attr(data-...)  ==> 해당 요소의 속성값 적용됨
2. before 의 width 는 100%
:focus 또는 :valid (선택 또는 유효값) 일 때 display: none
*/

.Todo .input .t_deadline.empty:before {
  content: attr(data-placeholder) !important;
  width: 100%;
}
.Todo .input .t_deadline:focus:before {
  display: none;
}
.Todo .input input::placeholder,
.Todo .input .t_deadline:before {
  color: var(--subtext);
}
.Todo .input .submit {
  padding: 12px 16px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: var(--accent);
  color: var(--text);
  font-weight: 700;
  flex-basis: 100px;
}
.Todo .input button:disabled {
  background-color: var(--subborder);
}
.Todo .list {
  margin: 2em 1em 0;
  overflow-y: auto;
}
.Todo .list::-webkit-scrollbar {
  background-color: transparent;
}
.Todo .item {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 5fr 1.5fr 1fr 1fr 0.5fr;
  align-items: center;
  justify-content: center;
  border-top: 1px dashed var(--border);
  margin: 0 2em;
}
.Todo .item > *:not(:nth-child(3)) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Todo .item:first-child {
  border-top: 0;
}
/* 
cf) 
다른 요소 hover 시 동작을 설정하려면
해당 요소 선택자는 부모 요소를 포함시키지 말 것
*/
.Todo .item:hover .delete,
.Todo .item:hover .complete {
  opacity: 1;
}
.Todo .item .delete:hover,
.Todo .item .complete:hover {
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 50%;
  transition: all ease 0.2s;
}
.Todo .item .delete:hover {
  color: var(--red);
}
.Todo .item .complete:hover {
  color: var(--accent);
}
.Todo .item div {
  padding: 8px;
  margin: 5px;
}
.Todo .delete,
.Todo .complete {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: var(--subtext);
  vertical-align: center;
  opacity: 0;
  transition: opacity ease 0.5s;
  user-select: none;
}
.Todo .item .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--subtext);
  font-size: 0.8em;
  text-align: center;
  gap: 0.4em;
}
.Todo .item .content {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 15pt;
  text-align: left;
  cursor: pointer;
  transition: all ease 0.2s;
  word-break: keep-all;
}
.Todo .item .content.line {
  text-decoration: line-through;
  color: var(--subtext);
}
.Todo .item .content:hover {
  color: var(--accent);
}
.Todo .item .date div {
  margin: 0;
  padding: 0;
}
.Todo .deadline {
  color: var(--subtext);
  font-size: 0.8em;
}
.Todo .deadline.active {
  color: var(--red);
  font-weight: bold;
}
.Todo .prior-wrap {
  position: relative;
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  flex-basis: 100px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.Todo .prior-wrap:hover {
  color: var(--accent);
  border-color: var(--accent);
}
.Todo .prior-option {
  position: absolute;
  top: 50px;
  flex-direction: column;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 10px;
  width: 100%;
}
.Todo .prior-option button {
  padding: 0.4em;
  display: flex;
  justify-content: center;
  gap: 0.8em;
}
.Todo .prior-option button span {
  display: inline-block;
  width: 1em;
  text-align: center;
}
.Todo .prior-wrap .prior-value {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
/* 모드에 따른 input type="date" 캘린더 아이콘 색상 변경 */
:root[color-theme="dark"] input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
@media only screen and (max-width: 1080px) {
  .Todo .input .t_content {
    flex-basis: 100%;
  }
  .Todo .input .t_deadline {
    flex: 1;
  }
}
