.Landing .stars-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.Landing .stars-container .star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
  animation: twinkle linear infinite;
  opacity: 0.8;
}

.Landing .cover-img {
  margin-top: 10vh;
  width: 650px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Landing .cover-img svg {
  width: 100%;
}

.Landing .cover-img g:first-of-type {
  transform-origin: center;
  animation: 1s cubic-bezier(0.195, 0.325, 0.6, 1.55) upscale;
}

.Landing .title {
  color: var(--light);
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 5px;
  white-space: nowrap;
  user-select: none;
  padding: 20px 0;
}

.Landing .title .char {
  display: inline-block;
  animation: cubic-bezier(0.195, 0.325, 0.6, 1.55) bounce;
}

.Landing .subtitle {
  color: var(--light);
}

.Landing .lighthouse-img {
  width: 800px;
  position: fixed;
  left: -150px;
  bottom: -140px;
  opacity: 0.8;
  z-index: -1;
}

.Landing .lighthouse-img circle:first-of-type {
  transition: all linear 0.2s;
  animation: 1s linear alternate infinite onoff;
}

.Landing .lighthouse-img circle:last-of-type {
  transition: all linear 0.2s;
  animation: 5s 2s linear alternate infinite onoff;
}

@media only screen and (max-width: 768px), only screen and (max-height: 768px) {
  .Landing .cover-img {
    width: 350px;
    height: 200px;
  }

  .Landing .title {
    font-size: 4rem;
  }

  .Landing .lighthouse-img {
    width: 400px;
    left: calc(50vw - 30vw - 200px);
    bottom: -265px;
  }
}

@keyframes upscale {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes onoff {
  100% {
    opacity: 0.5;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.8;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}
