.Landing .cover-img {
  width: 160vw;
  flex: 2;
}

.Landing .cover-img g:first-of-type {
  transform-origin: center;
  animation: 1s cubic-bezier(0.195, 0.325, 0.6, 1.55) upscale;
}

.Landing .title {
  color: var(--light);
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 5px;
  white-space: nowrap;
  user-select: none;
  padding: 20px 0;
  transform: translateY(-5vh);
}

.Landing .title .char {
  display: inline-block;
  animation: cubic-bezier(0.195, 0.325, 0.6, 1.55) bounce;
}

.Landing .subtitle {
  color: var(--light);
  flex: 1;
  transform: translateY(-4vh);
}

.Landing .lighthouse-img {
  width: 800px;
  position: fixed;
  left: -150px;
  bottom: -140px;
  opacity: 0.8;
  z-index: -1;
}

.Landing .lighthouse-img circle:first-of-type {
  transition: all linear 0.2s;
  animation: 1s linear alternate infinite onoff;
}

.Landing .lighthouse-img circle:last-of-type {
  transition: all linear 0.2s;
  animation: 5s 2s linear alternate infinite onoff;
}

@media only screen and (max-width: 768px) {
  .Landing .title {
    font-size: 4.5rem;
  }

  .Landing .lighthouse-img {
    width: 400px;
    left: calc(50vw - 30vw - 200px);
    bottom: -265px;
  }
}

@keyframes upscale {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes onoff {
  100% {
    opacity: 0.5;
  }
}
