@import "./content";
@import "./print";

.Detail {
  position: relative;
  display: flex;
  padding-top: 0;
  flex-direction: column;
}

.Detail .title {
  width: 90%;
  padding: calc(50px + 4vh) 0 4vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Detail .title a.search {
  display: inline-block;
  color: var(--primary);
}

.Detail .menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  border-bottom: 2px solid var(--primary);
  overflow-x: auto;
  overflow-y: hidden;
}

.Detail .menu button,
.Detail .menu a {
  display: flex;
  color: inherit;
  padding: 15px;
  transition: all ease 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.Detail .menu button svg,
.Detail .menu a svg {
  font-size: 1.8rem;
}

.Detail .bookmark-btn.active {
  color: var(--accent) !important;
}

.Detail .title .subject {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  word-break: keep-all;
}

.Detail .title .category {
  width: 100%;
  display: block;
  text-align: center;
  word-break: keep-all;
  white-space: pre-line;
  transition: color ease 0.2s;
}

.Detail .title .category:hover {
  color: var(--accent);
}

.Detail .keyword-slide {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Detail .keyword-slide button:not(.copy-btn) {
  height: 30%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s;
  border-radius: 10px;
  background-color: var(--semialpha);
}

:root[color-theme="dark"] .Detail .keyword-slide button:not(.copy-btn) {
  background-color: var(--lightalpha);
}

.Detail .keyword-slide .keyword-list-wrap {
  width: calc(100% - 10vw);
  min-height: 30vh;
  position: relative;
  overflow: hidden;
}

.Detail .keyword-slide .keyword-list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition-property: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.Detail .keyword-slide .keyword {
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  border-radius: 5px;
  padding: 0 10px;
  word-break: keep-all;
}

.Detail .keyword .top-box {
  padding: 16px;
  text-align: center;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 10px;
}

.Detail .keyword .top-box .key {
  font-size: 2rem;
}

.Detail .keyword .top-box .wrong {
  margin-top: 20px;
  font-size: 1.4rem;
}

.Detail .keyword-list-top {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.Detail .keyword-list-top .keyword-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
}

.Detail .keyword-list-top .copy-btn {
  font-size: 1.4rem;
}

.Detail .keyword-list-top .copy-btn:hover {
  color: var(--accent);
}

.Detail .keyword .desc {
  padding: 16px;
  word-wrap: break-word;
  word-break: keep-all;
  white-space: pre-wrap;
}

.Detail .keyword-list-bottom {
  width: calc(100% - 10vw);
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.Detail .keyword-dot {
  color: var(--subtext);
  cursor: pointer;
  transition: color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.Detail .keyword-dot.active {
  color: var(--accent);
}

.Detail .keyword-dot:hover {
  color: var(--accent);
}

.Detail .content {
  border-top: 1px solid var(--subborder);
  flex: 1;
  display: flex;
  margin: 20px 5vw 0;
  padding: 10px;
}

.Detail .content div {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .Detail .content {
    margin: 20px 0 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  .Detail .menu button:hover,
  .Detail .menu a:hover {
    color: var(--accent);
  }
}
