.Note.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  padding-top: 0 !important;
  position: relative;
}

.Note.List .title {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 48px 64px 32px;
  border-bottom: 2px solid var(--primary);
}

.Note.List .title .category {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Note.List .title .subcount {
  margin-left: 20px;
  font-size: 1.8rem;
}

.Note.List .title .insert-btn {
  color: var(--subtext);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 6px;
}

.Note.List .title .insert-btn:hover {
  color: var(--accent);
}

.Note.List .content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100% - 260px);
  margin: 40px auto 0;
  overflow-y: auto;
}

.Note.List .no-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Note.List .no-data-img {
  opacity: 0.5;
  width: 60%;
  height: 60%;
}

.Note.List .no-data-msg {
  bottom: 10vw;
  width: 100%;
  text-align: center;
}

.Note.List .content ul {
  width: 100%;
}

.Note.List .content ul li {
  display: grid;
  grid-template-columns: 1.5fr 10fr 1fr 1.5fr;
  gap: 10px;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid var(--subborder);
}

.Note.List .content ul li:last-child {
  border-bottom: none;
}

.Note.List .item .subject {
  display: flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.2s;
}

.Note.List .item .subject:hover {
  color: var(--accent);
}

.Note.List .item .keycount {
  color: var(--subtext);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.Note.List .item button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
  color: var(--subtext);
  font-size: 2rem;
}

.Note.List .item .bookmark-btn:hover,
.Note.List .item .bookmark-btn[value="1"] {
  color: var(--accent);
}

.Note.List .item .delete-btn:hover {
  color: var(--red);
}
