.Note.Index section.top {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Note.Index section.top .title {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.Note.Index form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Note.Index form input[name="c_category"] {
  color: var(--text);
  width: 100%;
}

.Note.Index #insert-btn {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.Note.Index #insert-btn:not(:disabled) {
  color: var(--accent);
}

.Note.Index section.cat-list {
  width: 90%;
  margin: 8vh auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, auto));
  justify-items: center;
  column-gap: 24px;
  row-gap: 48px;
}

.Note.Index .cat-item {
  width: 100%;
}

.Note.Index .link-box {
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25vh;
  text-align: center;
}

.Note.Index .link-box:hover {
  border: 1px solid var(--accent);
}

.Note.Index .link-box input[class*="title"] {
  color: var(--text);
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
  flex: 1;
}

.Note.Index section.cat-list .date {
  color: var(--subtext);
  font-size: 1.4rem;
  flex: 1;
}

.Note.Index section.cat-list .subcount {
  font-size: 2rem;
  font-weight: 700;
  flex: 1.5;
}

.Note.Index .bookmark-btn {
  font-size: 3rem;
  align-self: flex-start;
  transform: translateY(-12px);
  transition: all ease 0.3s;
  flex: 0.5;
}

.Note.Index .bookmark-btn:not(.active) {
  color: var(--borderlight);
}

.Note.Index .bookmark-btn:not(.active):hover {
  color: var(--accent);
}

.Note.Index .btn-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  flex: 1;
}

.Note.Index .btn-box button {
  font-size: 1.8rem;
}

.Note.Index .btn-box .update-btn:hover {
  color: var(--accent);
}

.Note.Index .btn-box .delete-btn:hover {
  color: var(--red);
}

.Note.Index .info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
