.Note.Index {
  overflow-y: hidden;
  padding-top: 0;
}

.Note.Index form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Note.Index form input[name="c_category"] {
  color: var(--text);
  width: 100%;
  border: 0;
  padding: 15px;
  background-color: var(--semialpha);
}

:root[color-theme="dark"] .Note.Index form input[name="c_category"] {
  background-color: var(--darkalpha);
}

.Note.Index form input:-webkit-autofill,
.Note.Index form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--semialpha) inset;
}

:root[color-theme="dark"] .Note.Index form input:-webkit-autofill,
:root[color-theme="dark"] .Note.Index form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--darkalpha) inset;
}

.Note.Index .insert-btn {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.Note.Index .insert-btn:not(:disabled) {
  color: var(--accent);
}

.Note.Index .filter-btn {
  width: 150px;
  border: 1px solid var(--text);
  border-radius: 50px;
  padding: 5px;
  margin: 10px auto;
}

.Note.Index ul.content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: auto 1fr;
  justify-content: center;
  justify-items: center;
  gap: 48px;
  overflow-y: auto;
  list-style: none;
}

.Note.Index .content .info {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  word-break: keep-all;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.Note.Index .item {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.Note.Index .item .link-wrapper {
  position: relative;
  border: 3px solid var(--darkalpha);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  transition: border-color 0.3s ease-in-out;
}

:root[color-theme="dark"] .Note.Index .link-wrapper {
  border-color: var(--lightalpha);
}

.Note.Index .link-wrapper .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 2.5rem;
  transition: all 0.2s ease-out;
  flex: 1;
  word-break: keep-all;
  word-wrap: break-word;
}

.Note.Index .bookmark-btn {
  position: absolute;
  top: -8px;
  left: 8px;
  font-size: 4rem;
  align-self: flex-start;
  transition: color ease-in-out 0.3s;
}

.Note.Index .bookmark-btn:not(.active) {
  color: var(--borderlight);
}

.Note.Index .bottom-wrapper {
  width: 100%;
  flex: 0.8;
  display: flex;
  flex-direction: column;
  background-color: var(--semialpha);
}

:root[color-theme="dark"] .Note.Index .bottom-wrapper {
  background-color: var(--darkalpha);
}

.Note.Index .bottom-wrapper > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Note.Index .bottom-wrapper .date {
  flex: 1;
  color: var(--subtext);
  font-size: 1.4rem;
}

.Note.Index .bottom-wrapper .subcount {
  flex: 1;
  font-weight: 700;
}

.Note.Index .bottom-wrapper .btn-box {
  flex: 1.5;
  width: 100%;
  display: flex;
  justify-content: space-around;
  cursor: auto;
}

.Note.Index .bottom-wrapper .btn-box button {
  font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .Note.Index ul.content {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}

@media only screen and (max-width: 336px) {
  .Note.Index ul.content {
    grid-template-columns: 1fr;
  }
}

@media (hover: hover) and (pointer: fine) {
  .Note.Index form input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0px 1000px var(--semialpha) inset;
  }

  :root[color-theme="dark"] .Note.Index form input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0px 1000px var(--darkalpha) inset;
  }

  .Note.Index .link-wrapper:hover,
  :root[color-theme="dark"] .Note.Index .link-wrapper:hover {
    border-color: var(--accentalpha);
  }

  .Note.Index .bottom-wrapper .btn-box .update-btn:hover {
    color: var(--accent);
  }

  .Note.Index .bottom-wrapper .btn-box .delete-btn:hover {
    color: var(--red);
  }
}

/* minmax 함수에서 두번째 값에 auto 를 넣으면 cell 의 크기가 내용에 맞춰 조정됨 */
