@media print {
  *:not(.top-box):not(.key) {
    background-color: #fff !important;
    background: #fff !important;
  }

  nav,
  .sidebar {
    display: none !important;
  }

  main {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
  }

  .Detail .menu,
  .Detail .keyword-list-top,
  .Detail .keyword-list-bottom,
  .Detail .keyword .wrong,
  .Detail .keyword-slide button {
    display: none !important;
  }

  .Detail .title {
    color: #000;
    padding-top: 0 !important;
  }

  .Detail .keyword-slide,
  .Detail .keyword-slide .keyword-list-wrap,
  .Detail .keyword-slide .keyword {
    overflow: visible !important;
    min-height: inherit !important;
    width: 100% !important;
  }

  .Detail .keyword:first-child,
  .Detail .keyword:last-child {
    display: none !important;
  }

  .Detail .keyword .top-box {
    text-align: inherit !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .Detail .keyword .top-box .key {
    font-size: inherit !important;
  }

  .Detail .keyword .desc {
    color: #000;
  }

  .Detail .keyword-slide .keyword-list {
    transform: translateX(0) !important;
    flex-direction: column;
    gap: 16px;
  }

  .Detail .content {
    color: #000;
    border: none !important;
    display: block !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    page-break-before: always !important;
  }

  .Detail .content img {
    display: block !important;
    page-break-inside: avoid !important;
  }
}
