.Write form {
  width: 80%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
}

.Write .form-label {
  display: inline-block;
  width: 120px;
  font-size: 2rem;
  font-weight: 700;
  user-select: none;
  margin: 50px 10px 20px 0px;
}

.Write .form-label::before {
  content: "-";
  display: inline-block;
  color: var(--primary);
  width: 30px;
}

.Write .form-label[for="category"] {
  margin-top: 0;
}

.Write #add-btn {
  display: inline-block;
  width: 100px;
}

.Write input,
.Write textarea {
  background-color: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--border);
}

.Write .keyword-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  word-break: keep-all;
  margin-left: 10px;
}

.Write .keyword-item {
  display: flex;
  align-items: center;
  height: 20vh;
}

.Write .keyword-btn-box {
  display: flex;
  padding: 10px;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.Write .keyword-btn-box .keyword-index {
  font-size: 2.5rem;
  color: var(--accent);
  user-select: none;
}

.Write .keyword-btn-box .keyword-delete {
  font-size: 2.5rem;
  color: var(--subtext);
}

.Write .keyword-btn-box .keyword-delete:hover {
  color: var(--red);
}

.Write .keyword-btn-box .keyword-up,
.Write .keyword-btn-box .keyword-down {
  font-size: 2.5rem;
}

.Write .keyword-btn-box .keyword-up:hover,
.Write .keyword-btn-box .keyword-down:hover {
  color: var(--accent);
}

.Write .keyword-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: auto;
}

.Write .keyword-wrap:focus-within {
  border-color: var(--accent);
}

.Write .keyword-wrap .keyword-label {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--border);
}

.Write .keyword-wrap .keyword-label::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  width: 40px;
  height: 100%;
  background-image: url("@assets/images/keyword.png");
}

.Write .keyword-wrap .keyword {
  border: none;
  padding: 10px;
  margin-left: 40px;
  width: 100%;
}

.Write .keyword-wrap .desc {
  height: 10vh;
  border: none;
  width: 100%;
}

.Write .keyword-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Write .keyword-controller #add-keyword {
  margin-left: auto;
  margin-right: 10px;
}

.Write #keyword-box {
  width: 100%;
  margin: 10px 0;
}

.Write .keyword-controller #add-keyword {
  border-radius: 5px;
  border: 1px solid var(--border);
  width: 80px;
  padding: 8px 16px;
  transition: all ease 0.3s;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.Write .keyword-controller #add-keyword {
  width: 120px;
}

.Write .keyword-controller #add-keyword:hover {
  border-color: var(--accent);
  color: var(--accent);
}

.Write #content {
  width: 100%;
  height: 20vh;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  overflow: auto;
}

.Write #back,
.Write #submit {
  background-color: var(--primary);
  border-radius: 5px;
  color: white;
  width: 80px;
  padding: 8px 16px;
  transition: all ease 0.3s;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.Write #back:hover,
.Write #submit:hover {
  color: inherit !important;
  background-color: var(--accent);
}

.Write .btn-box {
  width: 100%;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
}

/* editor style */
.ck-content {
  height: 68vh;
}

.ck.ck-editor__top .ck-toolbar .ck-button svg path,
.ck.ck-editor__top .ck-toolbar .ck-button svg circle,
.ck.ck-editor__top .ck-toolbar .ck-button span {
  color: var(--text) !important;
  fill: var(--text) !important;
}

.ck-editor .ck-toolbar,
.ck-editor .ck-toolbar *,
.ck-editor .ck-toolbar *:hover,
.ck-editor .ck-content {
  background-color: var(--background) !important;
}

.ck-toolbar,
.ck-toolbar__items {
  border-radius: 10px 10px 0 0 !important;
}

.ck-editor__editable.ck-rounded-corners {
  border-radius: 0 0 10px 10px !important;
}
