.App {
  width: 100%;
  height: 100%;
  display: flex;
}
.App main {
  flex: 1;
  display: flex;
  overflow: hidden;
  display: flex;
}
.App main.Intro {
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--primary), var(--gradient));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.App main.Intro .star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
  animation: twinkle linear infinite;
  opacity: 0.8;
}
@keyframes twinkle {
  0% {
    opacity: 0.8;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}
.App main.Index article {
  flex: 1;
  padding: 2em;
  padding-right: calc(260px + 2em);
  overflow-x: hidden;
}
.App main aside.Sidebar {
  width: 260px;
  padding: 2em;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  /* 
  article 의 scrollbar 가 페이지 중앙에 있는 문제로 
  width:100%, padding 은 사이드바 너비만큼 늘림
  scrollbar 는 부모 요소(article)의 z-index 가 적용되어 사이드바 밑으로 가려지는 문제 발생
  따라서 사이드바의 위치를 조정하거나, 백그라운드 색상 조정해야
  */
  background: linear-gradient(
    90deg,
    var(--sidebar),
    255px,
    transparent 255px 260px
  );
  z-index: 101;
  transition: all ease 0.3s;
}
.App a {
  color: inherit;
  text-decoration: none;
  transition: all ease 0.2s;
  white-space: nowrap;
  gap: 0.3em;
}
.App input,
.App button {
  outline: none;
  border: none;
}
.App button {
  background-color: transparent;
  color: var(--text);
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  font-size: 1em;
  white-space: nowrap;
  transition: all ease 0.2s;
}
.App input {
  background-color: transparent;
  color: var(--text);
  transition: all ease 0.2s;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1em;
  min-height: 1em;
  outline: none;
}
.App textarea {
  background-color: transparent;
  font-size: 1em;
  padding: 0.5em;
  outline: none;
}
.App button:disabled,
.App button:disabled:hover {
  border-color: var(--lightgray);
  color: var(--lightgray);
  cursor: auto;
}
.App input:read-only,
.App input:read-only:hover,
.App input:read-only:focus {
  border-color: var(--border);
}
.App button.active,
.App a:hover,
.App button:hover {
  color: var(--accent);
  border-color: var(--accent);
}
.App input:hover,
.App input:focus {
  border-color: var(--accent);
}
.App label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.header {
  display: none;
}
.Sidebar .logout {
  display: none;
}
*[data-prior]:after {
  display: inline-block;
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
*[data-prior="1"]:after {
  background-color: var(--red);
}
*[data-prior="2"]:after {
  background-color: var(--yellow);
}
*[data-prior="3"]:after {
  background-color: var(--green);
}
*[data-prior="4"]:after {
  background-color: var(--blue);
}
*[data-prior="5"]:after {
  background-color: var(--violet);
}
@media only screen and (max-width: 1080px) {
  .App {
    overflow-y: hidden;
  }
  main.Index {
    flex-direction: column-reverse;
    position: relative;
  }
  .App main.Index article {
    width: 100%;
    padding: 1em;
  }
  .Nav {
    width: 100%;
    height: 80px;
    flex-direction: row;
    background: none;
    background-color: var(--primary);
    padding: 0 5vw;
  }
  .Nav a {
    height: 80px !important;
  }
  .Nav a.logout {
    display: none !important;
  }
  .Nav a.logout {
    margin-top: 0 !important;
  }
  .App {
    flex-direction: column-reverse;
  }
  .App main.Index {
    margin: 0;
    padding: 0;
  }
  .App main article {
    padding: 1em;
  }
  .Sidebar {
    right: -260px !important;
    background: var(--background) !important;
  }
  .Sidebar.active {
    right: 0 !important;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: var(--sidebar);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  }
  .header .title {
    font-size: 1.2em;
    font-weight: 900;
    user-select: none;
  }
  .header .side-btn {
    color: var(--text);
    font-size: 1.5em;
    display: flex;
    align-items: center;
  }
  .Sidebar .logout {
    display: flex;
    flex-direction: row;
    margin-top: auto;
  }
  .App .blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
  }
  .App .blocker.active {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    z-index: 100;
  }
}
