@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: "NanumSquareNeo-Variable";
  --red: #c73935;
  --yellow: #e69215;
  --lightyellow: rgba(249, 162, 2, 1);
  --yellowalpha: rgba(249, 162, 2, 0.4);
  --blue: #1d415b;
  --bluealpha: rgba(29, 65, 91, 0.6);
  --grayblue: #60798c;
  --green: #1aa36d;
  --violet: #3f3d56;
  --violetalpha: rgba(63, 61, 86, 0.8);
  --light: #faf9f7;
  --dark: #181818;
  --lightgray: #ccc;
  --gray: #aaa;
  --darkgray: #555;
  --lightalpha: rgba(255, 255, 255, 0.1);
  --semialpha: rgba(0, 0, 0, 0.05);
  --darkalpha: rgba(0, 0, 0, 0.4);
}

:root[color-theme="light"] {
  color-scheme: light;
  --background: var(--light);
  --text: var(--dark);
  --subtext: var(--darkgray);
  --primary: var(--blue);
  --primaryalpha: var(--bluealpha);
  --secondary: var(--grayblue);
  --gradient: var(--violetalpha);
  --accent: var(--yellow);
  --accentalpha: var(--yellowalpha);
  --borderlight: var(--lightgray);
  --border: var(--gray);
  --borderdark: var(--darkgray);
  --subborder: var(--lightgray);
  --borderalpha: var(--semialpha);
}

:root[color-theme="dark"] {
  /* 요소에 브라우저 지정색상 적용 */
  color-scheme: dark;
  --background: var(--dark);
  --text: var(--light);
  --subtext: var(--gray);
  --primary: var(--violet);
  --primaryalpha: var(--violetalpha);
  --secondary: var(--grayblue);
  --gradient: var(--bluealpha);
  --accent: var(--lightyellow);
  --accentalpha: var(--yellowalpha);
  --borderlight: var(--lightgray);
  --border: var(--gray);
  --borderdark: var(--darkgray);
  --subborder: var(--darkgray);
  --borderalpha: var(--lightalpha);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html {
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(var(--primary) 20%, var(--gradient));
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 15px;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 자동완성 시 스타일 변경 방지 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 5vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease, border ease 0.2s;
  white-space: nowrap;
  gap: 4px;
}

input,
textarea,
a,
button {
  border: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

button {
  background-color: transparent;
  color: var(--text);
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.6rem;
  white-space: nowrap;
  transition: all ease 0.2s;
}

input {
  background-color: transparent;
  color: var(--text);
  transition: all ease 0.2s;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 8px;
  min-width: 0;
  min-height: 16px;
  font-size: 1.6rem;
}

textarea {
  background-color: transparent;
  padding: 10px;
  font-size: 1.6rem;
}

button:disabled,
button:disabled:hover {
  border-color: var(--lightgray);
  color: var(--lightgray);
  cursor: auto;
}

input:read-only,
input:read-only:hover,
input:read-only:focus {
  border-color: var(--border);
}

button.active,
a:hover,
button:hover {
  color: var(--accent);
  border-color: var(--accent);
}

input:hover,
input:focus {
  border-color: var(--accent);
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  main {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
