@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: "NanumSquareNeo-Variable";
  --sidebarwidth: 260px;
  --red: #c73935;
  --yellow: #e69215;
  --lightyellow: rgba(249, 162, 2, 1);
  --yellowalpha: rgba(249, 162, 2, 0.8);
  --blue: #1d415b;
  --bluealpha: rgba(29, 65, 91, 0.6);
  --grayblue: #60798c;
  --green: #1aa36d;
  --violet: #3f3d56;
  --violetalpha: rgba(63, 61, 86, 0.8);
  --light: #faf9f7;
  --dark: #181818;
  --lightgray: #ccc;
  --gray: #aaa;
  --darkgray: #555;
  --lightalpha: rgba(255, 255, 255, 0.3);
  --semialpha: rgba(0, 0, 0, 0.04);
  --darkalpha: rgba(0, 0, 0, 0.5);
}

:root[color-theme="light"] {
  color-scheme: light;
  --background: var(--light);
  --text: var(--dark);
  --subtext: var(--darkgray);
  --primary: var(--blue);
  --primaryalpha: var(--bluealpha);
  --secondary: var(--grayblue);
  --gradient: var(--violetalpha);
  --accent: var(--yellow);
  --accentalpha: var(--yellowalpha);
  --borderlight: var(--lightgray);
  --border: var(--gray);
  --borderdark: var(--darkgray);
  --subborder: var(--lightgray);
  --sidebar: var(--semialpha);
}

:root[color-theme="dark"] {
  color-scheme: dark;
  --background: var(--dark);
  --text: var(--light);
  --subtext: var(--gray);
  --primary: var(--violet);
  --primaryalpha: var(--violetalpha);
  --secondary: var(--grayblue);
  --gradient: var(--bluealpha);
  --accent: var(--lightyellow);
  --accentalpha: var(--yellowalpha);
  --borderlight: var(--lightgray);
  --border: var(--gray);
  --borderdark: var(--darkgray);
  --subborder: var(--darkgray);
  --sidebar: var(--darkalpha);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html {
  height: 100%;
  overflow-x: hidden;
  background-color: var(--background);
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--borderdark);
}

*::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 자동완성 시 스타일 변경 방지 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
}
