.Note.Sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  padding-top: 0 !important;
  position: relative;
}
.Note.Sub .title {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3em 4em 2em;
  border-bottom: 2px solid var(--primary);
}
.Note.Sub .title .category {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
  font-weight: 900;
  letter-spacing: 0.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Note.Sub .title .subcount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  margin: 0 2em 0 1em;
  font-size: 1.2em;
}
.Note.Sub .title .subcount svg {
  font-size: 1.2em;
}
.Note.Sub .title .insert-btn {
  color: var(--subtext);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 0.4em;
}
.Note.Sub .title .insert-btn:hover {
  color: var(--accent);
}
.Note.Sub .content {
  width: 80%;
  margin: 2em auto 0;
  overflow-y: auto;
}
.Note.Sub .content ul {
  width: 100%;
}
.Note.Sub .content ul li {
  display: grid;
  grid-template-columns: 1.5fr 10fr 1fr 1.5fr;
  gap: 10px;
  list-style: none;
  padding: 10px;
  border-bottom: 1px dashed var(--border);
}
.Note.Sub .content ul li:last-child {
  border-bottom: none;
}
.Note.Sub .item .subject {
  display: flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.2s;
}
.Note.Sub .item .subject:hover {
  color: var(--accent);
}
.Note.Sub .item .keycount {
  color: var(--subtext);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.Note.Sub .item button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
  color: var(--subtext);
  font-size: 1.4em;
}
.Note.Sub .item .bookmark-btn:hover,
.Note.Sub .item .bookmark-btn[value="1"] {
  color: var(--accent);
}
.Note.Sub .item .delete-btn:hover {
  color: var(--red);
}
.Note.Sub .no-data {
  width: 100%;
  height: calc(100% - 260px);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Note.Sub .no-data-img {
  opacity: 0.5;
  width: 60%;
  height: 60%;
}
.Note.Sub .no-data-msg {
  bottom: 10vw;
  width: 100%;
  text-align: center;
}
