main.out {
  align-items: center;
  padding-top: calc(60px + 10px);
  padding-bottom: 10px;
}

.Landing {
  background: linear-gradient(var(--primary) 20%, var(--gradient));
}

.Signup,
.Signin,
.PwdReset,
.PwdResetLink {
  justify-content: center;
  background-color: var(--dark);
}

.header-signout {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 100;
  padding: 8px 32px;
}

.header-signout .dropdown-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-signout .dropdown-wrapper .dropdown-btn {
  display: none;
}

main.out .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(90vw, 60vh);
  padding: 10px 6vw 50px;
  border-radius: 10px;
  background-color: #242424;
  box-shadow: 0px 5px 10px 1px var(--darkalpha);
  gap: 20px;
  color: white;
  transform: translateY(-15px);
}

main.out .container::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  width: 100px;
  height: 100px;
  background-image: url("@assets/images/noteit_icon.svg");
}

main.out .container > form {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

main.out .container > .form-column {
  flex-direction: column;
}

main.out .container > .form-row {
  flex-direction: row;
  flex-wrap: wrap;
}

main.out .container > .form-column > label {
  position: relative;
  width: 100%;
}

main.out .container > .form-row > label {
  flex-shrink: 0;
  flex: 1;
}

main.out .container .status {
  width: 100%;
  font-size: 1.4rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main.out .container > .form-column {
  flex-direction: column;
}

main.out .container > .form-row {
  flex-direction: row;
  flex-wrap: wrap;
}

main.out .container > .form-column > label {
  position: relative;
  width: 100%;
}

main.out .container > .form-row > label {
  flex-shrink: 0;
  flex: 1;
}

main.out .container .status {
  width: 100%;
  font-size: 1.4rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main.out .container input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: var(--dark);
  color: var(--light);
  caret-color: var(--accent);
  padding: 10px 10px 10px 40px;
}

main.out .container input[name="code"] {
  padding: 10px;
}

:root[color-theme="light"] main.out .container input::-ms-reveal {
  filter: invert(100%);
}

main.out .container input:-webkit-autofill,
main.out .container input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--light);
  -webkit-box-shadow: 0 0 0px 1000px var(--dark) inset;
}

main.out .container input:not(:read-only):focus {
  border-color: var(--accent);
}

main.out .container label:before {
  position: absolute;
  left: 0;
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  width: 40px;
  height: 40px;
}

main.out .container label[for="email"]:before {
  background-image: url("@assets/images/email.png");
}

main.out .container label[for="nickname"]:before {
  background-image: url("@assets/images/user.png");
}

main.out .container label[for="password"]:before {
  background-image: url("@assets/images/pwd.png");
}

main.out .container label[for="repassword"]:before {
  background-image: url("@assets/images/pwd_check.png");
}

main.out .container input::placeholder {
  color: var(--lightgray);
}

main.out .container button {
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

main.out .container button.action-btn {
  border: 1px solid var(--secondary);
  transition: border-color 0.3s ease;
}

main.out .container > .form-row > button.action-btn {
  flex-basis: 80px;
  flex: 0.4;
  flex-shrink: 1;
}

main.out .container button.submit {
  height: 60px;
  background-color: var(--secondary);
  transition: background-color 0.3s ease;
  font-size: 1.8rem;
  letter-spacing: 1px;
  border-radius: 50px;
  margin-top: auto;
}

.SignIn a.reset-password {
  background-color: transparent;
  transition: color 0.3s ease-in-out;
  color: var(--light);
}

main.out .link-wrapper {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

main.out .link-wrapper > a {
  margin: 0 auto;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--light);
}

@media only screen and (max-width: 1023px) {
  .header-signout .dropdown-wrapper .dropdown-btn {
    color: var(--light);
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  main.out .container {
    padding: 5% 10% 10%;
  }

  main.out .container::before {
    background-size: 100px;
    width: 50px;
    height: 50px;
  }

  main.out .container label {
    width: 100%;
  }

  main.out .container button.submit {
    height: auto;
  }

  .header-signout {
    padding: 8px 16px;
  }
}

@media (hover: hover) and (pointer: fine) {
  main.out .container input:-webkit-autofill:hover {
    -webkit-text-fill-color: var(--light);
    -webkit-box-shadow: 0 0 0px 1000px var(--dark) inset;
  }

  main.out .container button.action-btn:not(:disabled):hover {
    border-color: var(--accent);
  }

  main.out .container button.submit:not(:disabled):hover {
    background-color: var(--accent);
  }

  .SignIn a.reset-password:hover {
    color: var(--accent);
  }

  main.out .link-wrapper > a:hover {
    border-color: var(--accent);
  }
}
