.Landing,
.Signup,
.Signin {
  background: transparent;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-top: 150px;
}

.stars-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars-container .star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
  animation: twinkle linear infinite;
  opacity: 0.8;
}

.header-signout {
  display: flex;
  width: 100%;
  z-index: 100;
  padding: 32px 50px;
  position: fixed;
  top: 0;
  background-color: var(--darkalpha);
}

.Signup .form-signup,
.Signin .form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  width: 60vh;
  height: 60vh;
  padding: 40px 5%;
  border-radius: 10px;
  background-color: var(--lightalpha);
  z-index: 50;
}

.form-signup .greeting-msg,
.form-signin .greeting-msg {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: auto;
  color: var(--light);
}

.form-signup label,
.form-signin label {
  width: 80%;
}

.form-signup input,
.form-signin input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--light);
  border-radius: 0;
  color: var(--light);
  caret-color: var(--accent);
  padding: 10px;
}

.form-signup input:-webkit-autofill,
.form-signup input:-webkit-autofill:hover,
.form-signup input:-webkit-autofill:focus,
.form-signin input:-webkit-autofill,
.form-signin input:-webkit-autofill:hover,
.form-signin input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--light);
}

.form-signup input:focus,
.form-signin input:focus {
  border-color: var(--accent);
}

.form-signup label:before,
.form-signin label:before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  width: 40px;
  height: 100%;
}

.form-signup label[for="email"]:before,
.form-signin label[for="email"]:before {
  background-image: url("@assets/images/email.png");
}

.form-signup label[for="nickname"]:before,
.form-signin label[for="nickname"]:before {
  background-image: url("@assets/images/user.png");
}

.form-signup label[for="password"]:before,
.form-signin label[for="password"]:before {
  background-image: url("@assets/images/pwd.png");
}

.form-signup label[for="repassword"]:before {
  background-image: url("@assets/images/pwd_check.png");
}

.form-signup input::placeholder,
.form-signin input::placeholder {
  color: var(--lightgray);
}

.form-signup button,
.form-signin button {
  width: 100%;
  height: 60px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  background-color: var(--secondary);
  border-radius: 50px;
  margin-top: auto;
  transition: background-color 0.3s ease;
  color: var(--light);
}

.form-signin a {
  color: var(--light);
}

.form-signup .form-signup button:hover,
.form-signin .form-signin button:hover,
.form-signin .form-signin a:hover {
  background-color: var(--accent);
}

@keyframes twinkle {
  0% {
    opacity: 0.8;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}
