@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: "NanumSquareNeo-Variable";
  --red: #c73935;
  --yellow: #e69215;
  --lightyellow: rgba(249, 162, 2, 1);
  --yellowalpha: rgba(249, 162, 2, 0.4);
  --blue: #1d415b;
  --bluealpha: rgba(29, 65, 91, 0.6);
  --grayblue: #60798c;
  --green: #1aa36d;
  --violet: #3f3d56;
  --violetalpha: rgba(63, 61, 86, 0.8);
  --light: #faf9f7;
  --dark: #181818;
  --lightgray: #ccc;
  --gray: #aaa;
  --darkgray: #555;
  --lightalpha: rgba(255, 255, 255, 0.1);
  --semialpha: rgba(0, 0, 0, 0.05);
  --darkalpha: rgba(0, 0, 0, 0.4);
}

:root[color-theme="light"] {
  color-scheme: light;
  --background: var(--light);
  --text: var(--dark);
  --subtext: var(--darkgray);
  --primary: var(--blue);
  --primaryalpha: var(--bluealpha);
  --secondary: var(--grayblue);
  --gradient: var(--violetalpha);
  --accent: var(--yellow);
  --accentalpha: var(--yellowalpha);
  --borderlight: var(--lightgray);
  --border: var(--gray);
  --borderdark: var(--darkgray);
  --subborder: var(--lightgray);
  --borderalpha: var(--semialpha);
}

:root[color-theme="dark"] {
  /* 요소에 브라우저 지정색상 적용 */
  color-scheme: dark;
  --background: var(--dark);
  --text: var(--light);
  --subtext: var(--gray);
  --primary: var(--violet);
  --primaryalpha: var(--violetalpha);
  --secondary: var(--grayblue);
  --gradient: var(--bluealpha);
  --accent: var(--lightyellow);
  --accentalpha: var(--yellowalpha);
  --borderlight: var(--lightgray);
  --border: var(--gray);
  --borderdark: var(--darkgray);
  --subborder: var(--darkgray);
  --borderalpha: var(--lightalpha);
}
