.Signup .img-signup {
  width: 1000px;
  position: fixed;
  left: -10%;
  bottom: -80px;
  opacity: 0.8;
  z-index: 10;
}

.Signup .img-signup circle:first-of-type {
  transition: all linear 0.2s;
  animation: 1s linear alternate infinite onoff;
}

.Signup .img-signup circle:last-of-type {
  transition: all linear 0.2s;
  animation: 5s 2s linear alternate infinite onoff;
}

@keyframes onoff {
  100% {
    opacity: 0.5;
  }
}
