.NotFound {
  align-items: center;
}

.NotFound .img-wrapper {
  width: min(100%, 600px);
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.NotFound .not-found-img {
  width: 100%;
  height: 100%;
}

.NotFound > * {
  -webkit-user-select: none;
  user-select: none;
  color: var(--text);
  text-align: center;
  word-break: keep-all;
}

.NotFound p {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .NotFound h1 {
    font-size: 2.6rem;
  }
}
