.NotFound {
  align-items: center;
  justify-content: center;
}

.NotFound .not-found-img {
  opacity: 0.8;
}

.NotFound > * {
  -webkit-user-select: none;
  user-select: none;
  color: var(--light);
}

.NotFound p {
  margin-top: 10px;
  margin-bottom: 5%;
}
