.Detail {
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.Detail .title {
  width: 80%;
  padding: 5% 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.Detail .title a.search {
  display: inline-block;
  color: var(--primary);
}
.Detail .title a.search:hover {
  color: var(--accent);
}
.Detail .menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid var(--primary);
}
.Detail .menu button,
.Detail .menu a {
  display: flex;
  color: inherit;
  padding: 0.5em 1em;
  transition: all ease 0.3s;
  font-size: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-bottom: 5px solid transparent;
}

.Detail .menu button svg,
.Detail .menu a svg {
  font-size: 1.2em;
}
.Detail .menu button:hover,
.Detail .menu a:hover {
  color: var(--accent);
  border-bottom-color: var(--accent);
}

.Detail .bookmark-wrap {
  position: relative;
}
.Detail .msg {
  position: absolute;
  left: calc(-4em / 2);
  width: 14em;
  text-align: center;
  background-color: var(--background);
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.1s;
  user-select: none;
  animation-timing-function: ease;
}

@keyframes popUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 100;
  }
  80% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
.Detail .bookmark-btn.active {
  color: var(--accent) !important;
}
.Detail .bookmark-btn.active:hover {
  color: inherit !important;
}
.Detail .title .subject {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}
.Detail .title .category {
  font-size: 1.2em;
  transition: all ease 0.2s;
}
.Detail .title .category:hover {
  color: var(--accent);
}

.Detail .keyword-slide {
  width: 100%;
  min-height: 20vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Detail .keyword-slide button:not(.copy-btn) {
  /* margin: 0 1.2em; */
  width: 5vw;
  height: 100%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.Detail .keyword-slide button:hover {
  color: var(--accent);
}
.Detail .keyword-slide .keyword-list-wrap {
  width: calc(100% - 10vw);
  min-height: 20vh;
  position: relative;
  /* overflow: hidden; */
}
.Detail .keyword-slide .keyword-list {
  width: 100%;
  height: 100%;
}
.Detail .keyword-slide .keyword {
  display: inline-block;
  width: 100%;
  min-height: 20vh;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  word-break: keep-all;
}
.Detail .keyword .name {
  border-bottom: 1px dotted var(--border);
  padding: 0.5em;
  text-align: center;
}
.Detail .keyword-list-top {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.Detail .keyword-list-top .keyword-count {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.Detail .keyword-list-top .copy-btn {
  margin: 0 0 0.2em 0.2em;
  font-size: 0.8em;
}
.Detail .keyword-list-top .copy-btn:hover {
  color: var(--accent);
}
.Detail .keyword .desc {
  padding: 0.5em;
  word-wrap: break-word;
  word-break: keep-all;
  white-space: pre-wrap;
  height: 100%;
}
.Detail .keyword-list-bottom {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 0.8em;
}
.Detail .keyword-dot {
  color: var(--subtext);
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Detail .keyword-dot.active {
  color: var(--accent);
}
.Detail .keyword-dot:hover {
  color: var(--accent);
}
.Detail .content {
  flex: 1;
  display: flex;
  margin: 5vh 5vw 0;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 10px;
}
.Detail .content div {
  flex: 1;
}
