.Write form {
  width: 80%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
}
.Write label {
  display: inline-block;
  width: 100px;
  font-size: 15pt;
  font-weight: 700;
  user-select: none;
  margin: 50px 10px 10px 10px;
}
.Write label[for="category"] {
  margin-top: 0;
}
.Write #add-btn {
  display: inline-block;
  width: 100px;
}
.Write input,
.Write textarea {
  font-size: 12pt;
  padding: 0.5em;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
}
.Write .keyword-item {
  display: flex;
  align-items: center;
  height: 20vh;
}
.Write .keyword-btn-box {
  display: flex;
  padding: 10px;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.Write .keyword-btn-box .keyword-index {
  font-size: 1.5em;
  color: var(--blue);
  user-select: none;
}
.Write .keyword-btn-box .keyword-delete {
  font-size: 1.6em;
  color: #aaa;
}
.Write .keyword-btn-box .keyword-delete:hover {
  color: var(--red);
}
.Write .keyword-btn-box .keyword-up,
.Write .keyword-btn-box .keyword-down {
  font-size: 1.2em;
}
.Write .keyword-btn-box .keyword-up:hover,
.Write .keyword-btn-box .keyword-down:hover {
  color: var(--yellow);
}
.Write .keyword-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: auto;
}
.Write .keyword-wrap .keyword,
.Write .keyword-wrap .desc {
  width: 100%;
}
.Write .keyword-wrap .keyword {
  background-image: url("../../../assets/images/keyword.png");
  border-bottom: 1px dashed #aaa;
  background-repeat: no-repeat;
  background-position: left 10px bottom 50%;
  background-size: 16px;
  padding: 10px 40px;
}
.Write .keyword-wrap .desc {
  height: 10vh;
  border: none;
}
.Write .keyword-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Write .keyword-controller #add-keyword {
  margin-left: auto;
  margin-right: 10px;
}
.Write #keyword-box {
  width: 100%;
  margin: 10px 0;
}
.Write .keyword-controller #add-keyword {
  border-radius: 5px;
  border: 1px solid #aaa;
  width: 80px;
  padding: 0.5em 1em;
  transition: all ease 0.3s;
  white-space: nowrap;
  cursor: pointer;
  font-size: 12pt;
  text-align: center;
}
.Write .keyword-controller #add-keyword {
  width: 120px;
}
.Write .keyword-controller #add-keyword:hover {
  border-color: var(--yellow);
  color: var(--yellow);
}
.Write #content {
  width: 100%;
  height: 20vh;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: auto;
}
.Write #back,
.Write #submit {
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
  width: 80px;
  padding: 0.5em 1em;
  transition: all ease 0.3s;
  white-space: nowrap;
  cursor: pointer;
  font-size: 12pt;
  text-align: center;
}
.Write #back:hover,
.Write #submit:hover {
  background-color: var(--yellow);
}
.Write .btn-box {
  width: 100%;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
}
