.Note.Cat section.top {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Note.Cat section.top .title {
  font-size: 25pt;
  font-weight: 900;
}
.Note.Cat form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Note.Cat form input[name="c_category"] {
  width: 100%;
}
.Note.Cat #insert-btn {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  transition: all ease 0.2s;
}
.Note.Cat section.cat-list {
  width: 90%;
  margin: 8vh auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, auto));
  justify-items: center;
  column-gap: 1.5em;
  row-gap: 3em;
}
.Note.Cat .cat-item {
  width: 100%;
}
.Note.Cat .link-box {
  border: 1px solid var(--darkgray);
  border-radius: 5px;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
  text-align: center;
}
.Note.Cat .link-box:hover {
  border: 1px solid var(--yellow);
}
.Note.Cat .link-box input[class*="title"] {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  font-weight: 700;
  transition: all 0.2s ease-out;
  cursor: pointer;
  flex: 1;
}
.Note.Cat section.cat-list .date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  flex: 1;
}
.Note.Cat section.cat-list .subcount {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 700;
  flex: 1.5;
}
.Note.Cat .bookmark-btn {
  color: #aaa;
  font-size: 2em;
  align-self: flex-start;
  transform: translateY(-0.35em);
  transition: all ease 0.3s;
  flex: 0.5;
}
.Note.Cat .bookmark-btn:hover {
  color: var(--yellow);
}
.Note.Cat section.cat-list .btn-box {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5em;
}
.Note.Cat section.cat-list .btn-box button {
  color: var(--dark);
  font-size: 1em;
}
.Note.Cat section.cat-list .btn-box .update-btn:hover {
  color: var(--yellow);
}
.Note.Cat section.cat-list .btn-box .delete-btn:hover {
  color: var(--red);
}
