.Write form {
  width: 80%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
}
.Write label {
  display: inline-block;
  width: 100px;
  font-size: 15pt;
  font-weight: 700;
  user-select: none;
  margin: 50px 10px 10px 10px;
}
.Write label[for="category"] {
  margin-top: 0;
}
.Write #add-btn {
  display: inline-block;
  width: 100px;
}
.Write input,
.Write textarea {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--darkgray);
}
.Write .keyword-info {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: 0.9em;
  word-break: keep-all;
  margin-left: 10px;
}
.Write .keyword-item {
  display: flex;
  align-items: center;
  height: 20vh;
}
.Write .keyword-btn-box {
  display: flex;
  padding: 10px;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.Write .keyword-btn-box .keyword-index {
  font-size: 1.5em;
  color: var(--blue);
  user-select: none;
}
.Write .keyword-btn-box .keyword-delete {
  font-size: 1.6em;
  color: var(--darkgray);
}
.Write .keyword-btn-box .keyword-delete:hover {
  color: var(--red);
}
.Write .keyword-btn-box .keyword-up,
.Write .keyword-btn-box .keyword-down {
  font-size: 1.2em;
}
.Write .keyword-btn-box .keyword-up:hover,
.Write .keyword-btn-box .keyword-down:hover {
  color: var(--yellow);
}
.Write .keyword-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: auto;
}
.Write .keyword-wrap:focus-within {
  border-color: var(--yellow);
}
.Write .keyword-wrap > * {
  width: 100%;
}
.Write .keyword-wrap .keyword {
  background-image: url("../../assets/images/keyword.png");
  border-bottom: 1px dashed var(--darkgray);
  background-repeat: no-repeat;
  background-position: left 10px bottom 50%;
  background-size: 16px;
  padding: 10px 40px;
}
.Write .keyword-wrap .desc {
  height: 10vh;
  border: none;
}
.Write .keyword-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Write .keyword-controller #add-keyword {
  margin-left: auto;
  margin-right: 10px;
}
.Write #keyword-box {
  width: 100%;
  margin: 10px 0;
}
.Write .keyword-controller #add-keyword {
  border-radius: 5px;
  border: 1px solid var(--darkgray);
  width: 80px;
  padding: 0.5em 1em;
  transition: all ease 0.3s;
  white-space: nowrap;
  cursor: pointer;
  font-size: 12pt;
  text-align: center;
}
.Write .keyword-controller #add-keyword {
  width: 120px;
}
.Write .keyword-controller #add-keyword:hover {
  border-color: var(--yellow);
  color: var(--yellow);
}
.Write #content {
  width: 100%;
  height: 20vh;
  padding: 10px;
  border: 1px solid var(--darkgray);
  border-radius: 5px;
  overflow: auto;
}
.Write #back,
.Write #submit {
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
  width: 80px;
  padding: 0.5em 1em;
  transition: all ease 0.3s;
  white-space: nowrap;
  cursor: pointer;
  font-size: 12pt;
  text-align: center;
}
.Write #back:hover,
.Write #submit:hover {
  color: inherit !important;
  background-color: var(--yellow);
}
.Write .btn-box {
  width: 100%;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
}
.Write .ck-editor * {
  background-color: var(--light) !important;
}
.Write .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.Write .ck-toolbar__items {
  border-radius: 10px 10px 0 0 !important;
  border-color: var(--darkgray);
}
.Write .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border-radius: 0 0 10px 10px !important;
  border-color: var(--darkgray);
}
